@charset "utf-8";

@import './parts/variables';
@import './parts/mixins';

// --------------------
// // mobile & tablet
// @media (max-width: $screen-md-width - 1px) {}

// // mobile
// @media (max-width: $screen-sm-width - 1px) {}

// // tablet
// @media (min-width: $screen-sm-width) and (max-width: $screen-md-width - 1px) {}

// // pc md & lg
// @media (min-width: $screen-md-width) {}

// // pd md
// @media (min-width: $screen-md-width) and (max-width: $screen-lg-width - 1px) {}

// // pd lg
// @media (min-width: $screen-lg-width) {}

// @mixin avatar($size, $circle: false) {
//     width: $size;
//     height: $size;

//     @if $circle {
//         border-radius: $size / 2;
//     }
// }

// $base-color: #036;

// @for $i from 1 through 3 {
//   ul:nth-child(3n + #{$i}) {
//     background-color: lighten($base-color, $i * 5%);
//   }
// }

// $sizes: (40px, 50px, 80px);

// @each $size in $sizes {
//   .icon-#{$size} {
//     font-size: $size;
//     height: $size;
//     width: $size;
//   }
// }

// @include btn-size(12px 0px, 13px);
// @include btn-size(15px 90px, 18px);

input {
    font-family: $font-stack;
}

input[type=password] {
    font-family: sans-serif;
}

label {
    @include va;
    line-height: 1;

    >* {
        @include va;
    }
}

legend,
caption,
.skip,
.sr-only {
    @include sr-only;
}

textarea {
    border-color: #ddd;
    border-radius: 0;
    resize: none;
    padding: 0;
    margin: 0 auto;
    color: $font-color;
    font-family: $font-stack;
    letter-spacing: normal;
}


img.bor {
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

[class*=wrapper],
[class*=content],
.sec {
    position: relative;
}

.group-f,
.group {
    @include center;
    box-sizing: border-box;
    // overflow: hidden;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.row {
    position: relative;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.form-group {
    margin-bottom: 0 !important;
}

// mobile & tablet
// @media (max-width: 991px) {
@media (max-width: $screen-md-width - 1px) {
    .group {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-textarea,
    .form-input {
        @include form-base($ht: 40px);
    }
}

// mobile
@media (min-width: $screen-xs-width) and (max-width: $screen-sm-width - 1px) {

    .group-f,
    .group {
        width: 540px;
    }
}

// tablet
@media (min-width: $screen-sm-width) and (max-width: $screen-md-width - 1px) {

    .group-f,
    .group {
        width: 720px;
    }
}

// pc
@media (min-width: $screen-md-width) {

    .form-textarea,
    .form-input {
        @include form-base;
    }
}

// pc md
// @media (min-width: 992px) and (max-width: 999px) {
@media (min-width: $screen-md-width) and (max-width: $screen-lg-width + $vertical-scroll - 1px) {

    .group-f,
    .group {
        width: 960px;
    }
}

// pc lg
@media (min-width: $screen-lg-width + $vertical-scroll) {

    .group-f,
    .group {
        width: $screen-lg-width;
    }

    .group {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn {
    @include btn-base;
    color: #fff;

    &.btn-default {
        @include btn-color(#fff);
        color: #333;
    }

    &.btn-primary {
        @include btn-color($primary-color);
    }

    &.btn-blue {
        @include btn-color($btn-blue);
    }

    &.btn-green {
        @include btn-color($btn-green);
    }

    &.btn-aqua {
        @include btn-color($btn-aqua);
    }

    &.btn-orange {
        @include btn-color($btn-orange);
    }

    &.btn-red {
        @include btn-color($btn-red);
    }

    &.btn-gray {
        @include btn-color($btn-gray);
    }

    &.no-bd {

        &,
        &:hover {
            border-color: transparent;
        }
    }

    .btn-group-lg &,
    &.lg {
        @include btn-size(10px 16px, 18px);
    }

    .btn-group-md &,
    &.md {
        @include btn-size(6px 12px, 14px);
    }

    .btn-group-sm &,
    &.sm {
        @include btn-size(5px 10px, 12px);
        line-height: 1.5;
    }

    .btn-group-xs &,
    &.xs {
        @include btn-size(1px 15px, 12px);
        line-height: 1.5;
    }

}

.btn-block {
    display: block;
    width: 100%;
}

a.btn>* {
    @include va;
}

.ap-reset {
    @include ap-reset;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.affix {
    position: fixed !important;
}

.split {
    position: relative;
    box-sizing: border-box;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-in-block {
    display: inline-block !important;
}

.ff-nnGothic {
    font-family: ("Nanum Gothic", Dotum, Sans-serif) !important;
}

.ff-nnSquareR {
    font-family: ('NanumSquareRound', sans-serif) !important;
}

.ff-ntss {
    font-family: ("Noto Sans KR", Dotum, Sans-serif) !important;
}

.ff-jfss {
    font-family: $font-jfss !important;
}

.fw-b {
    font-weight: 700 !important;
}

.fw-n {
    font-weight: 400 !important;
}

.ta-center {
    text-align: center !important;
}

.ta-left {
    text-align: left !important;
}

.ta-right {
    text-align: right !important;
}

.tt-up {
    text-transform: uppercase !important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.c-primary {
    color: $primary-color !important;
}

.c-white {
    color: $c-white !important;
}

.c-green {
    color: $c-green !important;
}

.c-yellow {
    color: $c-yellow !important;
}

.c-red {
    color: $c-red !important;
}

.c-lightbrown {
    color: $c-lightbrown !important;
}

.c-blue {
    color: $c-blue !important;
}

.bor-no {
    border: none !important;
}

.w-auto {
    width: auto;
}

// animate css

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.blind {
    visibility: hidden;
}

.fadeInRight,
.fadeInLeft,
.fadeInUp {
    visibility: visible;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.pop-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;

    &.popup,
    &.scale-no {
        transition: initial;
    }

    &.bg-no {
        background-color: transparent !important;
    }
}

.pop-wrapper,
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.pop-container {
    position: relative;
    margin: 0 auto;
}

.modal-container {
    position: relative;
    margin: 0 auto;
    transform: scale(1.1);
    transition: all .3s ease;
}

.pop-header,
.pop-body,
.pop-footer,
.modal-header,
.modal-body,
.modal-footer {
    position: relative;
}

.modal {
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
}

.modal.enter {
    opacity: 1;
    visibility: visible;
}

.modal.enter .modal-container {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.modal.leave {
    opacity: 0;
    visibility: hidden;
}

.modal.leave .modal-container {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.modal.popup .modal-container,
.modal.scale-no .modal-container,
.modal.leave.scale-no .modal-container {
    transform: scale(1);
    -webkit-transform: scale(1);
}

// .modal-enter {
//     opacity: 0;
// }

// .modal-leave-active {
//     opacity: 0;
// }

// .modal-enter .modal-container,
// .modal-leave-active .modal-container {
//     -webkit-transform: scale(1.1);
//     transform: scale(1.1);
// }

// 글자 수 표시
.texta-wrapper {
    position: relative;

    .texta-counter {
        position: absolute;
        right: 23px;
        bottom: 2px;
        color: $font-gray4;
        font-size: 12px;
        font-weight: 300;
    }
}

// select 커스텀
.dropselect {
    display: inline-block;
    position: relative;

    select {
        position: absolute !important;
        bottom: 0;
        left: 50%;
        display: block !important;
        width: .5px !important;
        height: 100% !important;
        padding: 0 !important;
        opacity: 0 !important;
        border: none;
        z-index: 0 !important;
    }

    .dropbtn {
        @include btn-base;
        @include btn-size(5px 10px, 13px);
        // @include btn-transparent($admin-c-black);
        @include btn-transparent($admin-primary);
        color: $admin-body-c;
        width: 120px;
        text-align: left;
        border-radius: 3px;

        &:after {
            position: absolute;
            font-family: "Material Design Icons";
            content: '\F140';
            font-size: 20px;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            // vertical-align: middle;
        }
    }

    .dropmenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0 0 50px 0 rgba(82, 63, 105, .18);
        border-radius: 3px;

        .item {
            padding: 10px;
            font-size: 13px;
            color: $admin-body-c;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: #F7F8FA;
            }
        }

        &.active {
            display: block;
        }
    }
}

// fileform 커스텀
.fileform-wrapper {
    position: relative;

    input[type=file] {
        position: absolute !important;
        bottom: 0;
        left: 50%;
        display: block !important;
        width: .5px !important;
        height: 100% !important;
        padding: 0 !important;
        opacity: 0 !important;
        border: none;
        z-index: 0 !important;
    }

    >* {
        vertical-align: middle;
    }

    label {
        @include btn-base;
        @include btn-size(5px 10px, 13px);
        @include btn-transparent($admin-c-black);
        // @include btn-transparent($admin-primary);
        color: $admin-body-c;
        min-width: 100px;
        text-align: left;
        border-radius: 3px;

        &:after {
            position: absolute;
            font-family: "Material Design Icons";
            content: '\FA4D';
            font-size: 20px;
            top: 50%;
            transform: translateY(-50%);
            right: 6px;
            margin-top: 1px;
        }
    }

    .filename {
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
        color: $admin-body-c;
    }

    &.pd-md {

        label {
            padding: 9px 15px;
            min-width: 125px;

            &:after {
                right: 8px;
            }
        }

        .filename {
            margin-left: 7px;
        }
    }
}

// 에러 페이지
#errorPage {

    .header,
    .footer {
        display: none;
    }
}

.err-mask {
    background: none;
}

.err-wrapper {
    text-align: center;

    .err-container {
        font-size: 16px;
        width: 60%;
        min-width: 310px;
        padding: 100px 50px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    }

    .title {
        font-size: 10em;
        font-weight: 800;
        margin-bottom: 50px;
    }

    .st {
        font-size: 3em;
    }

    .text {
        margin-top: 30px;
        font-size: 0.9em;
        color: $c-red;
    }

    .err-actions {
        margin-top: 30px;
    }

    .home-btn {
        @include btn-base;
        @include btn-size(15px 90px, 18px);
        @include btn-transparent(#141414);
        border-width: 2px;
        border-radius: 0;
    }
}

// custom
.tbn-default.product-info-tbl {
    letter-spacing: -1px;
}

@media (max-width: 991px) {
    .comm-title {
        @include comm-title-xs;
    }

    .comm-text {
        @include comm-text-xs;
    }

    .tbl-default {
        @include tbl-base-xs;
    }

    .btn.custom-btn,
    .btn.product-more-btn {
        @include btn-size(5px 8px, 12px);
        letter-spacing: -0.5px;

        .gl {
            height: 18px;
            margin-right: 2px;
        }

        background-color: #f1f1f1;
        border-color: #b5b5b5;
        border-radius: 0;
    }

    .dot-square-default {
        @include dot-square(10px, 7px);
    }
}

@media (min-width: 992px) {
    .comm-title {
        @include comm-title;
    }

    .comm-text {
        @include comm-text;
    }

    .tbl-default {
        @include tbl-base;
    }

    .btn.custom-btn,
    .btn.product-more-btn {
        @include btn-size(10px 15px, 16px);
        letter-spacing: -0.5px;

        .gl {
            height: 24px;
            margin-right: 5px;
        }

        background-color: #f1f1f1;
        border-color: #b5b5b5;
        border-radius: 0;
    }

    .dot-square-default {
        @include dot-square;
    }
}