.show-sm-and-down,
.show-xs,
.show-xxs,
.show-sm,
.show-md-and-up,
.show-md,
.show-lg-and-up,
.show-lg,
.show-xl,
.show-xl-and-down {
    display: none !important;
}

@media (max-width: 991px) {
    .hidden-sm-and-down {
        display: none !important;
    }

    .show-sm-and-down {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    .show-xs {
        display: block !important;
    }
}

@media (max-width: 320px) {
    .hidden-xxs {
        display: none !important;
    }

    .show-xxs {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .hidden-md-and-up {
        display: none !important;
    }

    .show-md-and-up {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 999px) {
    .hidden-md {
        display: none !important;
    }

    .show-md {
        display: block !important;
    }
}

@media (min-width: 1000px) {
    .hidden-lg-and-up {
        display: none !important;
    }

    .show-lg-and-up {
        display: block !important;
    }
}

@media (min-width: 1000px) and (max-width: 1419px) {
    .hidden-lg {
        display: none !important;
    }

    .show-lg {
        display: block !important;
    }
}

@media (max-width: 1419px) {
    .hidden-xl-and-down {
        display: none !important;
    }

    .show-xl-and-down {
        display: block !important;
    }
}

@media (min-width: 1360px) {
    .hidden-xl {
        display: none !important;
    }

    .show-xl {
        display: block !important;
    }
}