{% set title = "Conacoin.io" %}
{% set pageName = "homePage" %}
{% extends "layout/base.html" %}

{% block content %}
    <section class="sec main-visual-sec">
        <h1 class="sr-only">코나코인 소개</h1>
        <div class="visual-wrapper">
            <div class="visual-content">
                <div class="visual-list">
                    <div class="visual-item">
                        <div class="visual-title">
                            <div class="title-wrapper">
                                <div class="wayp-item">
                                    <p class="title ff-jfss">“ World's first ”</p>
                                    <p class="st" data-langtarget="visualSubtitle">
                                        <span class="big">펀드레이징 커뮤니티 플랫폼</span>
                                        <span class="small">Cryptocurrency Offering New Alternative</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="visual-actions cf">
                            <button type="button" class="btn lg inquiry-btn" data-langtarget="visualJoin">문의하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec.main-visual-sec -->

    {# <section class="sec main-visual-sec">
        <div class="visual-wrapper">
            <div class="visual-content">
                <div class="visual-title">
                    <h1 class="title-wrapper">
                        <img src="/assets/img/common/sbt_yellow.png" alt="SBT" class="logo">
                        <div class="wayp-item">
                            <img src="/assets/img/main/visual_title.png" alt="sun block terminal" class="title hidden-sm-and-down">
                            <img src="/assets/img/m/main/visual_title.png" alt="sun block terminal" class="title hidden-md-and-up">
                            <p class="st" data-langtarget="visualSubtitle">SBT is building up a cryptocurrency that<br>can be used anywhere in the world.</p>
                        </div>
                    </h1>
                </div>
                <div class="visual-actions cf hidden-sm-and-down">
                    <button type="button" class="btn lg sign-up-btn" data-toggle="modal" data-target="sign-up-modal" data-langtarget="visualJoin">가입하기
                        <span class="sic">
                            <span class="arr arr-rt"></span></span></button>
                </div>
            </div>
        </div>
    </section> #}
    <!-- /.sec.main-visual-sec -->

    {# <section id="about" class="sec main-about-sec">
        <div class="about-wrapper">
            <div class="about-content group-f">
                <div class="col about-desc-wrapper wayp-item-left">
                    <div class="about-title comm-title">
                        <h1 class="title">WE ARE SBT</h1>
                        <p class="st" data-langtarget="aboutSubtitle">" 우리는 신뢰를 통해 서비스를 제공합니다. "</p>
                    </div>
                    <div class="about-text comm-text">
                        <p class="text" data-langtarget="aboutText1">
                            SBT 플랫폼과 Sunblockpay cryptocurrency의 주요 목표는<br class="hidden-sm-and-down">
                            블록 체인을 기반으로하는 인센티브, 분산 플랫폼을 만들어<br class="hidden-sm-and-down">
                            온라인 결제 산업의 확장에 따른<br class="hidden-sm-and-down">
                            수많은 고유 문제를 해결하는 것입니다.<br class="hidden-sm-and-down">
                            우리의 목표는 사용자의 위험과 비용을 줄이면서<br class="hidden-sm-and-down">
                            온라인 결제 프로세스를보다 쉽게 ​​만드는 것입니다.
                        </p>
                        <p class="text" data-langtarget="aboutText2">
                            Sunblockpay (SBP)는 블록 체인 기술을 사용하는 탈 중앙화<br class="hidden-sm-and-down">
                            암호 화폐이며 타사 기관이나 중앙 당국에 의해 통제되지 않습니다.<br class="hidden-sm-and-down">
                            Sunblockpay는 호텔 숙박, 항공편, 교통편, 영화관, 여행 투어<br class="hidden-sm-and-down">
                            휴대 전화의 안락함에서 이루어질 수 있는 추가 여행 서비스를<br class="hidden-sm-and-down">
                            포함한 모든 온라인 예약 서비스에서 사용할 수 있습니다.
                        </p>
                    </div>
                </div>
                <div class="col about-picture-wrapper">
                    <div class="about-picture">
                        <img src="/assets/img/main/about_bg.png" alt="작업공간">
                    </div>
                </div>
            </div>
        </div>
    </section> #}
    <!-- /.main-about-sec -->
{% endblock %}