{% set title = "CONA | 투자가이드" %}
{% set pageName = "guidePage" %}
{% set pageTitle = "GUIDE" %}
{% set pageSubTitle = "User guide to read before using" %}
{% extends "layout/base.html" %}

{% block content %}
{% include("layout/subvisual.html") %}

<section class="sec guide-sec comm-pd">
    <div class="guide-wrapper">
        <div class="guide-content group">
            <h1 class="sr-only">투자가이드</h1>
            <div class="tabs-type1 guide-tabs">
                <div class="tablist" role="tablist" aria-label="guide tabs">
                    <button class="tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">코나코인 소개</button>
                    <button class="tab" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1">거래소 가입방법</button>
                    <button class="tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">코인 매수방법</button>
                    <button class="tab" role="tab" aria-selected="false" aria-controls="panel-4" id="tab-4" tabindex="-1">코인 매도방법</button>
                </div>
                <div class="tabpanel" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
                    <div class="iframe-wrapper">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-FItemPCG4A?rel=0&playsinline=1&autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; card-picture-in-card-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
                <div class="tabpanel" id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden>
                    <div class="iframe-wrapper">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8_pzFezpQIQ?rel=0&playsinline=1&autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; card-picture-in-card-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                    <div class="screenshot-wrapper">
                        <h2 class="screenshot-title">스크린샷 가이드</h2>
                        <div class="mg"></div>
                        <ul class="card-list cf">
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">01</span></span> <span class="txt">포블게이트 회원가입 클릭</span></figcaption>
                                    <img src="/images/guide/join_1.jpg" alt="회원가입 절차1">
                                </figure>
                                <p class="card-text">포블게이트 우측상단 회원가입 버튼을 클릭합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">02</span></span> <span class="txt">회원가입 방식 선택</span></figcaption>
                                    <img src="/images/guide/join_2.jpg" alt="회원가입 절차2">
                                </figure>
                                <p class="card-text">내/외국인을 선택하신 후, 원하는 회원가입 방식을 선택합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">03</span></span> <span class="txt">회원정보 입력 후, 약관 동의</span></figcaption>
                                    <img src="/images/guide/join_3.jpg" alt="회원가입 절차3">
                                </figure>
                                <p class="card-text">사용하시면서 인증받을 이메일과 회원정보를 입력 후, 약관 동의 </p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">04</span></span> <span class="txt">가입완료</span></figcaption>
                                    <img src="/images/guide/join_4.jpg" alt="회원가입 절차4">
                                </figure>
                                <p class="card-text">회원가입을 완료 후, 이메일과 계좌 인증을 꼭 진행 해주세요.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabpanel" id="panel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" hidden>
                    <div class="iframe-wrapper">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tGT-8LX6KOs?rel=0&playsinline=1&autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; card-picture-in-card-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                    <div class="screenshot-wrapper">
                        <h2 class="screenshot-title">스크린샷 가이드</h2>
                        <div class="mg"></div>
                        <ul class="card-list cf">
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">01</span></span> <span class="txt">포블게이트 입출금 클릭</span></figcaption>
                                    <img src="/images/guide/sell_1.jpg" alt="매수 절차1">
                                </figure>
                                <p class="card-text">포블게이트 우측상단 입출금 버튼을 클릭합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">02</span></span> <span class="txt">입금 금액 입력</span></figcaption>
                                    <img src="/images/guide/sell_2.jpg" alt="매수 절차2">
                                </figure>
                                <p class="card-text">입금하실 금액을 입력 하신 후, 입금신청을 클릭합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">03</span></span> <span class="txt">금액 확인</span></figcaption>
                                    <img src="/images/guide/sell_3.jpg" alt="매수 절차3">
                                </figure>
                                <p class="card-text">입력하신 금액을 확인 하신 후, 확인 버튼을 클릭합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">04</span></span> <span class="txt">입금 주의사항 확인 후, 완료</span></figcaption>
                                    <img src="/images/guide/sell_4.jpg" alt="매수 절차4">
                                </figure>
                                <p class="card-text">입금 주의사항에 동의한 후, 확인 버튼을 클릭해서 완료합니다. </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabpanel" id="panel-4" role="tabpanel" tabindex="0" aria-labelledby="tab-4" hidden>
                    <div class="iframe-wrapper">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gXn19vr2uug?rel=0&playsinline=1&autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; card-picture-in-card-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                    <div class="screenshot-wrapper">
                        <h2 class="screenshot-title">스크린샷 가이드</h2>
                        <div class="mg"></div>
                        <ul class="card-list cf">
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">01</span></span> <span class="txt">포블게이트 입출금 클릭</span></figcaption>
                                    <img src="/images/guide/sell_1.jpg" alt="매도 절차1">
                                </figure>
                                <p class="card-text">포블게이트 우측상단 입출금 버튼을 클릭합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">02</span></span> <span class="txt">‘자산’ 탭에서 코나A-IEO ‘SWAP’ 클릭</span></figcaption>
                                    <img src="/images/guide/sell_2.jpg" alt="매도 절차2">
                                </figure>
                                <p class="card-text">‘자산’ 탭의 리스트중 코나A-IEO의 ‘SWAP’ 버튼을 클릭합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">03</span></span> <span class="txt">‘스왑’ 탭에서 입력 후, ‘스왑 신청’ 클릭 </span></figcaption>
                                    <img src="/images/guide/sell_3.jpg" alt="매도 절차3">
                                </figure>
                                <p class="card-text">‘스왑’ 탭에서 원하시는 숫자를 입력 후, ‘스왑 신청’ 버튼을 클릭합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">04</span></span> <span class="txt">확인 창의 ‘확인’ 버튼 클릭</span></figcaption>
                                    <img src="/images/guide/sell_4.jpg" alt="매도 절차4">
                                </figure>
                                <p class="card-text">확인 창의 내용을 확인 후, ‘확인’ 버튼을 클릭합니다. </p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">05</span></span> <span class="txt">코나 검색 후, 코나코인을 선택</span></figcaption>
                                    <img src="/images/guide/sell_5.jpg" alt="매도 절차5">
                                </figure>
                                <p class="card-text">‘코나’ 키워드로 검색 후, 코나코인을 선택합니다.</p>
                            </li>
                            <li class="card-item">
                                <figure class="card-picture">
                                    <figcaption><span class="won"><span class="in">06</span></span> <span class="txt">매도 탭에서 수량 입력 후, 매도완료</span></figcaption>
                                    <img src="/images/guide/sell_6.jpg" alt="매도 절차6">
                                </figure>
                                <p class="card-text">매도 탭에서 원하시는 수량을 입력 후, 매도를 완료합니다.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.sec guide-sec -->

{% include("inc/bn_meet.html") %}

{% endblock %}