// mobile & tablet
@media (max-width: $screen-md-width - 1px) {
    #noticePage {
        .list-tbl {
            col {
                &:nth-child(1) {
                    width: 12%;
                }

                &:nth-child(2) {
                    width: auto;
                }

                &:nth-child(3) {
                    width: 20%;
                }
            }
        }
    }

    .notice-alerts-sec {
        .detail-tbl {
            .row {
                .label {
                    width: 50px;
                }

                .label-text {
                    width: calc(100% - 50px - 30px);
                }
            }
        }
    }
}

// pc md & lg
@media (min-width: $screen-md-width) {
    #noticePage {
        .list-tbl {
            col {
                &:nth-child(1) {
                    width: 12%;
                }

                &:nth-child(2) {
                    width: auto;
                }

                &:nth-child(3) {
                    width: 15%;
                }
            }
        }
    }

    .notice-alerts-sec {
        .detail-tbl {
            .row {
                &.title-row {
                    width: 80%;
                }

                &.date-row {
                    width: 19%;
                }

                .label {
                    width: 50px;
                }

                .label-text {
                    width: calc(100% - 50px - 30px);
                }
            }
        }
    }
}