{% set title = "Conacoin.io | 실시간 고객센터" %}
{% set pageName = "supportPage" %}
{% extends "layout/base.html" %}

{% block content %}
    {% include("layout/subvisual.html") %}

    <section class="sec support-inquiry-isec comm-pd">
        <div class="inquiry-wrapper">
            <div class="inquiry-content group">
                <div class="inquiry-title comm-title">
                    <h1 class="title">
                        실시간 문의하기
                    </h1>
                </div>
                <!-- password popup start -->
                <div id="pw-popup" class="inquiry-pw">
                    <div class="pw-pop">
                        <p class="pw-pop-tit">PASSWORD</p>
                        <input class="pw-pop-input" type="password">
                        <div class="pw-pop-btn">
                            <a href="javascript:;" class="comm-btn outline prev-btn" onclick="popClose();">이전</a>
                            <a href="" class="comm-btn outline next-btn">확인</a>
                        </div>
                    </div>
                    <div class="pw-black"></div>
                </div>
                <script>
                    function popClose(){
                        var pwPop = document.getElementById('pw-popup');
                        pwPop.style.display = 'none';
                    };
                </script>
                <!-- password popup end -->
                <div class="inquiry-tbl-st">※ 답변이 완료된 문의는 이메일로 답변이 전송되오니 확인 부탁드립니다.</div>
                <table class="postlist-tbl">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>등록일</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>진행상황</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0, 10) %}
                            <tr>
                                <td class="date">2019-12-08</td>
                                <td class="name">h******</td>
                                <td class="title">
                                    <a href="/support/detail/">가이드영상대로 진행했는데 잘 안되네요..ㅠㅠ</a>
                                </td>
                                <td>
                                    <span class="state active">답변완료</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="inquiry-actions count-3">
                    <a href="" class="comm-btn outline prev-btn">이전</a>
                    <a href="" class="comm-btn outline next-btn">다음</a>
                    <a href="/support/edit/" class="comm-btn primary inquiry-btn">문의하기</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec support-inquiry-sec -->

    {% include("inc/bn-meet.html") %}
{% endblock %}