{% set title = "Conacoin.io" %}
{% set pageName = "inquiryPage" %}
{% extends "layout/base.html" %}

{% block content %}
<section class="sec sub-visual-sec">
    <h1 class="sr-only">코나코인 소개</h1>
    <div class="visual-wrapper">
        <div class="visual-content">
            <div class="banner-title">
                <div class="title-wrapper">
                    <div class="wayp-item">
                        <p class="title ff-jfss">“ World's first ”</p>
                        <p class="st" data-langtarget="visualSubtitle">
                            <span class="big">펀드레이징 커뮤니티 플랫폼</span>
                            <span class="small">Cryptocurrency Offering New Alternative</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.sec.main-visual-sec -->
{% endblock %}