<div class="modal-mask modal enter scale-no openbn-popup">
    <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <h2 class="sr-only">오픈 슬라이더 팝업</h2>
            </div>
            <div class="modal-body">
                <div class="openbn-list-wrapper">
                    <ul class="openbn-list" id="openbnPopupList">
                        <li class="openbn-item">배너1</li>
                        <li class="openbn-item">배너2</li>
                        <li class="openbn-item">배너3</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer cf">
                <button type="button" class="ap-reset close-today-btn" data-dismiss="modal"><i class="mdi mdi-close-box-outline"></i> 하루동안 보지 않기</button>
                <button type="button" class="ap-reset close-btn" data-dismiss="modal">닫기 <i class="mdi mdi-close"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- /openbn-popup -->