{% if openbanners.length %}
<div class="modal-mask modal scale-no openbn-popup" id="openbnPopup">
    <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <h2 class="sr-only">오픈 슬라이더 팝업</h2>
            </div>
            <div class="modal-body">
                <div class="openbn-list-wrapper">
                    <ul class="openbn-list" id="openbnPopupList">
                        {% for item in openbanners %}
                        <li class="openbn-item">
                            {% if item.link %}
                            <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer"><img src="/uploads/popup/openbanners/{{ item.filename }}" alt="오픈배너"></a>
                            {% else %}
                            <img src="/uploads/popup/openbanners/{{ item.filename }}" alt="오픈배너">
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% if openbanners.length > 1 %}
                    <div id="openbnDots"></div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer cf">
                <button type="button" class="ap-reset close-today-btn" id="closeTodayBtn" data-dismiss="modal"><i class="mdi mdi-close-box-outline"></i> 하루동안 보지 않기</button>
                <button type="button" class="ap-reset close-btn" data-dismiss="modal">닫기 <i class="mdi mdi-close"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- /openbn-popup -->
{% endif %}

<script>
    $(function () {
        if (!(getCookie('openbannersCookie') == 'done')) {
            $('#openbnPopup').addClass('enter');
        }

        $('#closeTodayBtn').on('click', function () {
            setCookieHour('openbannersCookie', 'done', 24);
            $('#openbnPopup').removeClass('enter');
        });
    })
</script>