{% macro include(fileName) %}
    {% include fileName ignore missing %}
{% endmacro %}
<!DOCTYPE html>
<!--[if IE 8]><html lang="ko" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
    <!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin | 관리자</title>

        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/stylesheets/admin.min.css">

        <link rel="shortcut icon" href="/images/common/favicon.ico" type="image/x-icon">

        <script src="/static/js/libs/jquery-1.12.1.min.js"></script>
    </head>

    <body id="adminSignPage" class="admin-sign-page {{pageName}}">
    
        {%- block content %}{% endblock -%}

        {% include("admin/layout/bottom.html") %}
    </body>

</html>