{% set pageName = 'admin-signin-page' %}
{% extends "admin/accounts/base.html" %}

{% block content %}
    <h1 class="sr-only">관리자 정보 변경 페이지</h1>

    <section class="sec admin-sign-sec">
        <div class="sign-wrapper">
            <div class="sign-content">
                <h1 class="sign-title">Change password</h1>
                <div class="sign-form-wrapper">
                    <form action="" method="post" id="passwordForm">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                        <div class="form-group">
                            <label class="form-label">New password</label>
                            <input type="password" class="form-input" placeholder="New password" name="password_new" required="required" autocomplete="new-password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm new password</label>
                            <input type="password" class="form-input" placeholder="Cofirm new password" name="password_new2" required="required" autocomplete="new-password">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary lg btn-block">Update password</button>
                        </div>
                    </form>

                    {% if flashMessage %}
                        <div class="alert-msg">{{ flashMessage }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#passwordForm').submit(function () {

                var $passwordInput = $('#passwordForm input[name=password_new]');
                var $passwordInput2 = $('#passwordForm input[name=password_new2]');

                if ($passwordInput.val().length < 4) {
                    alert("4글자 이상 작성해주세요");
                    return false;
                }

                if ($passwordInput.val() !== $passwordInput2.val()) {
                    alert("패스워드와 확인용패스워드를 똑같이 입력해주세요.");
                    return false;
                }

                return true;
            });
        });
    </script>
    <!-- /.sec.admin-sign-sec -->

{% endblock %}