@charset "UTF-8";
input { font-family: "Noto Sans KR", sans-serif; }

input[type=password] { font-family: sans-serif; }

label { position: relative; display: inline-block; vertical-align: middle; line-height: 1; }

label > * { position: relative; display: inline-block; vertical-align: middle; }

legend, caption, .skip, .sr-only { position: absolute; width: 1px; height: 1px; overflow: hidden; padding: 0; margin: -1px; border: 0; clip: rect(1px, 1px, 1px, 1px); }

textarea { border-color: #ddd; border-radius: 0; resize: none; padding: 0; margin: 0 auto; color: #3d3d3d; font-family: "Noto Sans KR", sans-serif; letter-spacing: normal; }

select:focus::-ms-value { color: #3d3d3d; background: none; }

img.bor { border: 1px solid #bbb; box-sizing: border-box; }

.img-responsive { display: block; height: auto; max-width: 100%; }

.picture img, [class*=-picture] img { max-width: 100%; }

img.full { width: 100%; }

.form-group, .row, .cf:after { content: ""; display: block; clear: both; }

.sec { position: relative; }

.bg-drop { display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }

.group-f, .group { position: relative; position: relative; margin-left: auto; margin-right: auto; box-sizing: border-box; }

.group-f:after, .group:after { content: ""; display: block; clear: both; }

@media (min-width: 992px) and (max-width: 999px) { .group-f, .group { width: 100%; } }

@media (min-width: 1017px) { .group-f, .group { width: 1000px; } }

.form-group { margin-bottom: 0 !important; }

.form-select, .form-textarea, .form-input { position: relative; display: inline-block; width: 100%; height: 46px; padding: 6px 12px; box-sizing: border-box; font-size: 14px; line-height: 1.42857143; color: #3d3d3d; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; }

.form-select::placeholder, .form-textarea::placeholder, .form-input::placeholder { color: #bfbfbf; font-weight: 300; }

.form-select[disabled], .form-select[readonly], .form-textarea[disabled], .form-textarea[readonly], .form-input[disabled], .form-input[readonly] { background: #f9f8f8; color: #676767; }

.form-select.bdrs-no, .form-textarea.bdrs-no, .form-input.bdrs-no { border-radius: 0; }

.date-ui-wrapper { position: relative; width: 100%; background-color: #fff; }

.date-ui-wrapper > * { cursor: pointer; }

.date-ui-wrapper input { padding-right: 30px; background-color: transparent; }

.date-ui-wrapper i { position: absolute; top: 50%; right: 5px; margin-top: -11.5px; font-size: 22px; line-height: 1; }

.custom-radio { padding-left: 35px; font-size: 14px; cursor: pointer; }

.custom-radio input { position: absolute; opacity: 0; height: 0; width: 0; }

.custom-radio .checkmark { position: absolute; top: 50%; left: 0; display: block; height: 30px; width: 30px; margin-top: -15px; border: 1px solid #ffba36; border-radius: 50%; box-sizing: border-box; background-color: #fff; }

.custom-radio .checkmark:after { content: ""; position: absolute; display: none; position: absolute; width: 16px; height: 16px; top: 50%; left: 50%; margin-top: -8px; margin-left: -8px; background-color: #ffba36; border-radius: 50%; }

.custom-radio input:checked ~ .checkmark:after { display: block; }

.custom-radio-toggle { padding-left: 35px; font-size: 14px; cursor: pointer; }

.custom-radio-toggle input { position: absolute; opacity: 0; height: 0; width: 0; }

.custom-radio-toggle .checkmark { position: absolute; top: 50%; left: 0; display: block; height: 30px; width: 30px; margin-top: -15px; border: 1px solid #2c2c2c; border-radius: 50%; box-sizing: border-box; background-color: #fff; }

.custom-radio-toggle input:checked ~ .checkmark { border: 1px solid #ffba36; }

.custom-radio-toggle .checkmark:after { content: ""; position: absolute; display: none; position: absolute; width: 16px; height: 16px; top: 50%; left: 50%; margin-top: -8px; margin-left: -8px; background-color: #ffba36; border-radius: 50%; }

.custom-radio-toggle input:checked ~ .checkmark:after { display: block; }

.custom-checkbox { padding-left: 25px; font-size: 14px; cursor: pointer; }

.custom-checkbox input { position: absolute; opacity: 0; height: 0; width: 0; }

.custom-checkbox .checkmark { position: absolute; top: 0; left: 0; display: block; height: 20px; width: 20px; border: 1px solid #ffba36; box-sizing: border-box; background-color: #fff; text-align: center; }

.custom-checkbox .checkmark .mdi { display: none; position: relative; top: 1px; font-size: 14px; color: #ffba36; line-height: 1; }

.custom-checkbox input:checked + .checkmark .mdi { display: block; }

.custom-select { position: relative; width: 100%; height: 40px; background-color: #fff; }

.custom-select:before { content: '\F140'; font-family: "Material Design Icons"; display: inline-block; position: absolute; right: 15px; height: 100%; font-size: 22px; line-height: 40px; pointer-events: none; }

.custom-select:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; border: 1px solid #bfbfbf; box-sizing: border-box; pointer-events: none; }

.custom-select select { position: relative; width: 100%; height: 100%; border: none; font-size: 14px; appearance: button; outline: none; background: none; padding-left: 20px; }

.custom-select select::-ms-expand { display: none; }

.btn { display: inline-block; font-family: "Noto Sans KR", sans-serif; width: auto; height: auto; padding: 6px 12px; box-sizing: border-box; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; color: #fff; }

.btn[disabled], .btn[disabled]:hover { background: #aaa; border-color: #ccc; color: #fff; cursor: default; }

.btn.btn-default { background-color: #fff; border-color: #e6e6e6; color: #3d3d3d; }

.btn.btn-default:not(.outline):hover { background-color: #f2f2f2; border-color: #f2f2f2; }

.btn.btn-default:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #fff; }

.btn.btn-default.btn-default .badge { background-color: gray; color: #fff; }

.btn.btn-default.outline-no { border-color: #fff; }

.btn.btn-default.outline { background-color: #fff; border-color: #fff; color: #fff; }

.btn.btn-default.outline:hover { background-color: #f2f2f2; border-color: #d9d9d9; }

.btn.btn-default.outline .badge { background-color: #fff; color: #fff; }

.btn.btn-default.outline-bgno { background-color: transparent; border-color: #fff; color: #fff; }

.btn.btn-default.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-primary { background-color: #ffba36; border-color: #ffa803; }

.btn.btn-primary:not(.outline):hover { background-color: #ffb11d; border-color: #ffb11d; }

.btn.btn-primary:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #ffba36; }

.btn.btn-primary.btn-default .badge { background-color: #362300; color: #fff; }

.btn.btn-primary.outline-no { border-color: #ffba36; }

.btn.btn-primary.outline { background-color: #fff; border-color: #ffba36; color: #ffba36; }

.btn.btn-primary.outline:hover { background-color: #f2f2f2; border-color: #e99900; }

.btn.btn-primary.outline .badge { background-color: #ffba36; color: #fff; }

.btn.btn-primary.outline-bgno { background-color: transparent; border-color: #ffba36; color: #ffba36; }

.btn.btn-primary.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-blue { background-color: #337ab7; border-color: #285f8f; }

.btn.btn-blue:not(.outline):hover { background-color: #2d6da3; border-color: #2d6da3; }

.btn.btn-blue:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #337ab7; }

.btn.btn-blue.btn-default .badge { background-color: black; color: #fff; }

.btn.btn-blue.outline-no { border-color: #337ab7; }

.btn.btn-blue.outline { background-color: #fff; border-color: #337ab7; color: #337ab7; }

.btn.btn-blue.outline:hover { background-color: #f2f2f2; border-color: #22527b; }

.btn.btn-blue.outline .badge { background-color: #337ab7; color: #fff; }

.btn.btn-blue.outline-bgno { background-color: transparent; border-color: #337ab7; color: #337ab7; }

.btn.btn-blue.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-green { background-color: #5cb85c; border-color: #449d44; }

.btn.btn-green:not(.outline):hover { background-color: #4cae4c; border-color: #4cae4c; }

.btn.btn-green:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #5cb85c; }

.btn.btn-green.btn-default .badge { background-color: #060f06; color: #fff; }

.btn.btn-green.outline-no { border-color: #5cb85c; }

.btn.btn-green.outline { background-color: #fff; border-color: #5cb85c; color: #5cb85c; }

.btn.btn-green.outline:hover { background-color: #f2f2f2; border-color: #3d8b3d; }

.btn.btn-green.outline .badge { background-color: #5cb85c; color: #fff; }

.btn.btn-green.outline-bgno { background-color: transparent; border-color: #5cb85c; color: #5cb85c; }

.btn.btn-green.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-aqua { background-color: #5bc0de; border-color: #31b0d5; }

.btn.btn-aqua:not(.outline):hover { background-color: #46b8da; border-color: #46b8da; }

.btn.btn-aqua:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #5bc0de; }

.btn.btn-aqua.btn-default .badge { background-color: #0a2730; color: #fff; }

.btn.btn-aqua.outline-no { border-color: #5bc0de; }

.btn.btn-aqua.outline { background-color: #fff; border-color: #5bc0de; color: #5bc0de; }

.btn.btn-aqua.outline:hover { background-color: #f2f2f2; border-color: #28a1c5; }

.btn.btn-aqua.outline .badge { background-color: #5bc0de; color: #fff; }

.btn.btn-aqua.outline-bgno { background-color: transparent; border-color: #5bc0de; color: #5bc0de; }

.btn.btn-aqua.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-orange { background-color: #f0ad4e; border-color: #ec971f; }

.btn.btn-orange:not(.outline):hover { background-color: #eea236; border-color: #eea236; }

.btn.btn-orange:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #f0ad4e; }

.btn.btn-orange.btn-default .badge { background-color: #3a2405; color: #fff; }

.btn.btn-orange.outline-no { border-color: #f0ad4e; }

.btn.btn-orange.outline { background-color: #fff; border-color: #f0ad4e; color: #f0ad4e; }

.btn.btn-orange.outline:hover { background-color: #f2f2f2; border-color: #df8a13; }

.btn.btn-orange.outline .badge { background-color: #f0ad4e; color: #fff; }

.btn.btn-orange.outline-bgno { background-color: transparent; border-color: #f0ad4e; color: #f0ad4e; }

.btn.btn-orange.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-red { background-color: #d9534f; border-color: #c9302c; }

.btn.btn-red:not(.outline):hover { background-color: #d43f3a; border-color: #d43f3a; }

.btn.btn-red:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #d9534f; }

.btn.btn-red.btn-default .badge { background-color: #220807; color: #fff; }

.btn.btn-red.outline-no { border-color: #d9534f; }

.btn.btn-red.outline { background-color: #fff; border-color: #d9534f; color: #d9534f; }

.btn.btn-red.outline:hover { background-color: #f2f2f2; border-color: #b52b27; }

.btn.btn-red.outline .badge { background-color: #d9534f; color: #fff; }

.btn.btn-red.outline-bgno { background-color: transparent; border-color: #d9534f; color: #d9534f; }

.btn.btn-red.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-gray { background-color: gray; border-color: #676767; }

.btn.btn-gray:not(.outline):hover { background-color: #737373; border-color: #737373; }

.btn.btn-gray:not(.btn-default):not(.outline) .badge { background-color: #fff; color: gray; }

.btn.btn-gray.btn-default .badge { background-color: #010101; color: #fff; }

.btn.btn-gray.outline-no { border-color: gray; }

.btn.btn-gray.outline { background-color: #fff; border-color: gray; color: gray; }

.btn.btn-gray.outline:hover { background-color: #f2f2f2; border-color: #5a5a5a; }

.btn.btn-gray.outline .badge { background-color: gray; color: #fff; }

.btn.btn-gray.outline-bgno { background-color: transparent; border-color: gray; color: gray; }

.btn.btn-gray.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.btn-black { background-color: #2c2c2c; border-color: #131313; }

.btn.btn-black:not(.outline):hover { background-color: #1f1f1f; border-color: #1f1f1f; }

.btn.btn-black:not(.btn-default):not(.outline) .badge { background-color: #fff; color: #2c2c2c; }

.btn.btn-black.btn-default .badge { background-color: black; color: #fff; }

.btn.btn-black.outline-no { border-color: #2c2c2c; }

.btn.btn-black.outline { background-color: #fff; border-color: #2c2c2c; color: #2c2c2c; }

.btn.btn-black.outline:hover { background-color: #f2f2f2; border-color: #060606; }

.btn.btn-black.outline .badge { background-color: #2c2c2c; color: #fff; }

.btn.btn-black.outline-bgno { background-color: transparent; border-color: #2c2c2c; color: #2c2c2c; }

.btn.btn-black.outline-bgno:hover { background-color: inherit; border-color: inherit; }

.btn.no-bd, .btn.no-bd:hover { border-color: transparent; }

.btn-group-lg .btn, .btn.lg { padding: 10px 16px; font-size: 18px; }

.btn-group-md .btn, .btn.md { padding: 6px 12px; font-size: 14px; }

.btn-group-sm .btn, .btn.sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; }

.btn-group-xs .btn, .btn.xs { padding: 1px 15px; font-size: 12px; line-height: 1.5; }

a.btn > * { position: relative; display: inline-block; vertical-align: middle; }

.ap-reset { margin: 0; padding: 0; background-color: transparent; border: none; border-radius: 0; box-shadow: none; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.hidden { display: none !important; visibility: hidden !important; }

.affix { position: fixed !important; }

.split { position: relative; box-sizing: border-box; }

.d-flex { display: flex !important; }

.d-block { display: block !important; }

.d-in-block { display: inline-block !important; }

.ff-nnGothic { font-family: "Nanum Gothic", Dotum, Sans-serif !important; }

.ff-nnSquareR { font-family: "NanumSquareRound", sans-serif !important; }

.ff-ntss { font-family: "Noto Sans KR", Dotum, Sans-serif !important; }

.fw-b { font-weight: 700 !important; }

.fw-n { font-weight: 400 !important; }

.ta-left { text-align: left !important; }

.ta-center { text-align: center !important; }

.ta-right { text-align: right !important; }

.tt-up { text-transform: uppercase !important; }

.c-primary { color: #ffba36 !important; }

.c-white { color: #fff !important; }

.c-green { color: #74b02f !important; }

.c-yellow { color: #fff588 !important; }

.c-red { color: #ef2c06 !important; }

.c-lightbrown { color: #d35e00 !important; }

.c-blue { color: #2b77d5 !important; }

.animated { animation-duration: 1s; animation-fill-mode: both; }

.blind { visibility: hidden; }

.fadeInUp { visibility: visible; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp { 0% { opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

.modal-mask { position: fixed; z-index: 9998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: table; transition: opacity .3s ease; }

.modal-mask.bg-no { background-color: transparent !important; }

.modal-wrapper { display: table-cell; vertical-align: middle; }

.modal-container { transform: scale(1.1); transition: all .3s ease; }

.modal-container.scale-no { transform: scale(1); }

.modal-header, .modal-body, .modal-footer { position: relative; }

.modal-header:after, .modal-body:after, .modal-footer:after { content: ''; display: block; clear: both; }

.modal-header .close-btn { line-height: 1; }

.modal { opacity: 0; visibility: hidden; }

.modal.enter { opacity: 1; visibility: visible; }

.modal.enter .modal-container { transform: scale(1); -webkit-transform: scale(1); }

.modal.leave { opacity: 0; visibility: hidden; }

.modal.leave .modal-container { transform: scale(1.1); -webkit-transform: scale(1.1); }

.modal.leave.popup .modal-container { transform: scale(1); -webkit-transform: scale(1); }

.mt-1 { margin-top: 1px !important; }

.mb-1 { margin-bottom: 1px !important; }

.ml-1 { margin-left: 1px !important; }

.mr-1 { margin-right: 1px !important; }

.mx-1 { margin-left: 1px !important; margin-right: 1px !important; }

.my-1 { margin-top: 1px !important; margin-bottom: 1px !important; }

.m-1 { margin: 1px; }

.mt-n1 { margin-top: -1px !important; }

.mb-n1 { margin-bottom: -1px !important; }

.ml-n1 { margin-left: -1px !important; }

.mr-n1 { margin-right: -1px !important; }

.mx-n1 { margin-left: -1px !important; margin-right: -1px !important; }

.my-n1 { margin-top: -1px !important; margin-bottom: -1px !important; }

.m-n1 { margin: -1px; }

[role="tabpanel"], [role="tab"] { outline: 0; }

.tbn-default.product-info-tbl { letter-spacing: -1px; }

@media (max-width: 991px) { .comm-title .sm { font-size: 12px; text-transform: uppercase; }
  .comm-title .line { width: 54px; height: 3px; position: relative; display: block; margin: 7px 0 8px; }
  .comm-title .line:before, .comm-title .line:after { content: ''; display: block; position: absolute; width: 50%; height: 100%; }
  .comm-title .line:before { left: 0; background-color: #74b02f; }
  .comm-title .line:after { right: 0; background-color: #f4c720; }
  .comm-title .big { font-size: 22px; letter-spacing: -2px; }
  .comm-text { margin-top: 10px; font-size: 13px; line-height: 1.8; word-break: keep-all; letter-spacing: -0.7px; }
  .tbl-default { width: 100%; font-size: 12.5px; }
  .tbl-default th, .tbl-default td { border: 1px solid #4c4c4c; text-align: center; height: 30px; vertical-align: middle; }
  .tbl-default th .cell, .tbl-default td .cell { padding: 3px 7px; }
  .tbl-default th { background-color: #ebebeb; }
  .tbl-default td { background-color: #fff; }
  .btn.custom-btn, .btn.product-more-btn { padding: 5px 8px; font-size: 12px; letter-spacing: -0.5px; background-color: #f1f1f1; border-color: #b5b5b5; border-radius: 0; }
  .btn.custom-btn .gl, .btn.product-more-btn .gl { height: 18px; margin-right: 2px; }
  .dot-square-default { position: relative; margin-top: 5px; line-height: 1.3; padding-left: 10px; }
  .dot-square-default:before { content: ''; position: absolute; top: 4px; left: 0; display: inline-block; width: 7px; height: 7px; background-color: #474747; } }

@media (min-width: 992px) { .comm-title .sm { font-size: 16px; text-transform: uppercase; }
  .comm-title .line { width: 94px; height: 4px; position: relative; display: block; margin: 15px 0; }
  .comm-title .line:before, .comm-title .line:after { content: ''; display: block; position: absolute; width: 50%; height: 100%; }
  .comm-title .line:before { left: 0; background-color: #74b02f; }
  .comm-title .line:after { right: 0; background-color: #f4c720; }
  .comm-title .big { font-size: 46px; letter-spacing: -4px; }
  .comm-text { margin-top: 15px; line-height: 1.8; word-break: keep-all; letter-spacing: -1px; }
  .tbl-default { width: 100%; }
  .tbl-default th, .tbl-default td { border: 1px solid #4c4c4c; text-align: center; height: 36px; vertical-align: middle; }
  .tbl-default th .cell, .tbl-default td .cell { padding: 3px 7px; }
  .tbl-default th { background-color: #ebebeb; }
  .tbl-default td { background-color: #fff; }
  .btn.custom-btn, .btn.product-more-btn { padding: 10px 15px; font-size: 16px; letter-spacing: -0.5px; background-color: #f1f1f1; border-color: #b5b5b5; border-radius: 0; }
  .btn.custom-btn .gl, .btn.product-more-btn .gl { height: 24px; margin-right: 5px; }
  .dot-square-default { position: relative; margin-top: 5px; line-height: 1.3; padding-left: 15px; }
  .dot-square-default:before { content: ''; position: absolute; top: 4px; left: 0; display: inline-block; width: 10px; height: 10px; background-color: #474747; } }

/*-bxSlider 재정의-*/
.bx-wrapper, .bx-wrapper .bx-viewport { position: relative; margin: 0 auto; border: none; box-shadow: none; background: none; }

/*
.bx-wrapper .bx-controls-direction {position: absolute; width: 100%; width: 100%; left: 0; top: 50%; margin-top: -22.5px;}
.bx-wrapper .bx-controls-direction a {display: block;}
.bx-wrapper .bx-controls-direction a {background: none; width: 45px; height: 45px; top: 0; margin-top: 0; z-index: 1;}
.bx-wrapper .bx-prev {left: 20px;}
.bx-wrapper .bx-next {right: 20px;}
.bx-wrapper .bx-controls-direction,
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto,
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {display: none;}
*/
/* 메인 슬라이더 */
.visual-container .bx-wrapper .bx-controls-direction { display: none; }

.visual-container .bx-wrapper .bx-controls-auto, .visual-container .bx-wrapper .bx-pager { width: 100%; bottom: 70px; text-align: center; }

.visual-container .bx-wrapper .bx-pager.bx-default-pager a { width: 12px; height: 12px; background: #fff; border-radius: 50%; border: 1px solid #313131; box-sizing: border-box; margin: 0 2px; }

.visual-container .bx-wrapper .bx-pager.bx-default-pager a:hover, .visual-container .bx-wrapper .bx-pager.bx-default-pager a.active { background: #f4c720; }

@media (max-width: 991px) { .visual-container .bx-wrapper .bx-pager { bottom: 15px; }
  .visual-container .bx-wrapper .bx-pager.bx-default-pager a { width: 10px; height: 10px; } }

@media (max-width: 767px) { /* .bx-wrapper .bx-controls-direction a {width: 12px; height: auto; top: 114px;} .bx-wrapper .bx-controls-direction a img {width: 100%;} .bx-wrapper .bx-prev {left: -10px;} .bx-wrapper .bx-next {right: -10px;} */ }

/* swiper 재정의 */
.swiper-container { z-index: auto !important; }

.show-sm-and-down, .show-xs, .show-xxs, .show-sm, .show-md-and-up, .show-md, .show-lg-and-up, .show-lg, .show-xl, .show-xl-and-down { display: none !important; }

@media (max-width: 991px) { .hidden-sm-and-down { display: none !important; }
  .show-sm-and-down { display: block !important; } }

@media (max-width: 767px) { .hidden-xs { display: none !important; }
  .show-xs { display: block !important; } }

@media (max-width: 320px) { .hidden-xxs { display: none !important; }
  .show-xxs { display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) { .hidden-sm { display: none !important; }
  .show-sm { display: block !important; } }

@media (min-width: 992px) { .hidden-md-and-up { display: none !important; }
  .show-md-and-up { display: block !important; } }

@media (min-width: 992px) and (max-width: 999px) { .hidden-md { display: none !important; }
  .show-md { display: block !important; } }

@media (min-width: 1000px) { .hidden-lg-and-up { display: none !important; }
  .show-lg-and-up { display: block !important; } }

@media (min-width: 1000px) and (max-width: 1419px) { .hidden-lg { display: none !important; }
  .show-lg { display: block !important; } }

@media (max-width: 1419px) { .hidden-xl-and-down { display: none !important; }
  .show-xl-and-down { display: block !important; } }

@media (min-width: 1360px) { .hidden-xl { display: none !important; }
  .show-xl { display: block !important; } }

body { font-family: "Noto Sans KR", sans-serif; font-display: swap; color: #3d3d3d; }

.header, .container, .footer { position: relative; }

.container[role=main] { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }

@media (max-width: 991px) { .about-page .subvisual-sec .subvisual-container { height: 280px; background: url("/assets/img/m/about/visual.jpg") no-repeat center/cover; }
  .brand-page .subvisual-sec .subvisual-container { height: 280px; background: url("/assets/img/m/brand/visual.jpg") no-repeat center/cover; }
  .mattress-page .subvisual-sec .subvisual-container { height: 280px; background: url("/assets/img/m/mattress/visual.jpg") no-repeat center/cover; }
  .pillow-page .subvisual-sec .subvisual-container { height: 280px; background: url("/assets/img/m/pillow/visual.jpg") no-repeat center/cover; }
  .showroom-page .subvisual-sec .subvisual-container { height: 280px; background: url("/assets/img/m/showroom/visual.jpg") no-repeat center/cover; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content { position: relative; top: 120px; padding-left: 15px; color: #fff; line-height: 1.3; text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5); }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title { font-size: 26px; } }

@media (max-width: 991px) and (max-width: 320px) { .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title { font-size: 24px; } }

@media (max-width: 991px) { .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .sm { display: block; font-size: 12px; text-transform: uppercase; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .big { font-weight: 400; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line { width: 70px; height: 3px; position: relative; display: block; margin: 3px 0 7px; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:before, .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:after { content: ''; display: block; position: absolute; width: 50%; height: 100%; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:before { left: 0; background-color: #74b02f; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:after { right: 0; background-color: #f4c720; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-text { font-size: 13px; line-height: 1.5; word-break: keep-all; } }

@media (max-width: 991px) and (max-width: 320px) { .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-text { font-size: 12.5px; } }

@media (max-width: 991px) { .pathbar-wrapper { padding-top: 45px; }
  .pathbar-wrapper .pathbar-content { padding: 0 15px; border-bottom: 1px solid #bfbfbf; }
  .pathbar-wrapper .pathbar-content .pathbar-container { position: relative; padding-bottom: 5px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-title { font-size: 20px; font-weight: 700; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list { margin-top: 20px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item { padding-bottom: 10px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item > * { position: relative; display: inline-block; vertical-align: middle; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper { display: inline-block; position: relative; height: 20px; font-size: 0; width: 20px; top: 1px; margin-right: 3px; border: 1px solid #3d3d3d; border-radius: 50%; text-align: center; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper > * { font-size: 16px; position: relative; display: inline-block; vertical-align: middle; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper:before { content: ''; display: inline-block; vertical-align: middle; height: 20px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper .num { font-size: 12px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item.arr { display: none; top: 4px; margin: 0 10px; font-size: 25px; color: #bfbfbf; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item.active { color: #ffba36; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item.active .num-wrapper { border: 1px solid #ffba36; } }

@media (min-width: 992px) { .about-page .subvisual-sec .subvisual-container { height: 288px; }
  .brand-page .subvisual-sec .subvisual-container { height: 288px; }
  .mattress-page .subvisual-sec .subvisual-container { height: 288px; }
  .pillow-page .subvisual-sec .subvisual-container { height: 288px; }
  .showroom-page .subvisual-sec .subvisual-container { height: 288px; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content { position: relative; top: 80px; padding-left: 60px; color: #fff; line-height: 1.3; text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5); }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title { font-size: 50px; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .sm { display: block; font-size: 18px; text-transform: uppercase; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .big { font-weight: 400; letter-spacing: -4px; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line { width: 126px; height: 4px; position: relative; display: block; margin: 5px 0 15px; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:before, .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:after { content: ''; display: block; position: absolute; width: 50%; height: 100%; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:before { left: 0; background-color: #74b02f; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-title .line:after { right: 0; background-color: #f4c720; }
  .comm-page .subvisual-sec .subvisual-container .subvisual-content .subvisual-text { font-size: 18px; line-height: 1.5; letter-spacing: -1px; }
  .pathbar-wrapper { padding-top: 55px; }
  .pathbar-wrapper .pathbar-content .pathbar-container { position: relative; padding-bottom: 5px; border-bottom: 1px solid #bfbfbf; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-title { position: absolute; top: 10px; right: 0; font-size: 20px; font-weight: 700; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item { position: relative; display: inline-block; padding-bottom: 5px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item > * { position: relative; display: inline-block; vertical-align: middle; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper { display: inline-block; position: relative; height: 20px; font-size: 0; width: 20px; top: 1px; margin-right: 3px; border: 1px solid #3d3d3d; border-radius: 50%; text-align: center; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper > * { font-size: 16px; position: relative; display: inline-block; vertical-align: middle; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper:before { content: ''; display: inline-block; vertical-align: middle; height: 20px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item .num-wrapper .num { font-size: 12px; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item.arr { top: 4px; margin: 0 10px; font-size: 25px; color: #bfbfbf; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item.active { color: #ffba36; }
  .pathbar-wrapper .pathbar-content .pathbar-container .pathbar-nav .pathbar-list .pathbar-item.active .num-wrapper { border: 1px solid #ffba36; } }

.comm-page [class*=-picture] img { width: 100%; }

.shortcut-container { z-index: 10; right: 15px; bottom: 50px; }

.shortcut-container .go-top { display: none; width: 36px; height: 36px; margin: 0; padding: 0; background-color: transparent; border: none; border-radius: 0; box-shadow: none; background-color: rgba(0, 0, 0, 0.3); text-align: center; font-size: 16px; color: #fff; }

/* 로딩 애니메이션 */
.lds-mask { z-index: 999; display: table; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.45); }

.lds-mask .lds-wrapper { display: table-cell; vertical-align: middle; text-align: center; }

.lds-mask .lds-wrapper .lds-container { position: relative; margin-top: -36px; }

.lds-mask .lds-wrapper .lds-container .lds-text { position: absolute; left: 0; bottom: -12px; width: 100%; text-align: center; color: #fff; letter-spacing: normal; text-indent: 5px; font-family: "Noto Sans KR", Sans-serif; }

.lds-mask .lds-wrapper .lds-facebook { display: inline-block; position: relative; width: 67px; height: 62px; }

.lds-mask .lds-wrapper .lds-facebook div { display: inline-block; position: absolute; left: 11px; width: 15px; background: #fff; animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-mask .lds-wrapper .lds-facebook div:nth-child(1) { left: 0px; animation-delay: -0.24s; }

.lds-mask .lds-wrapper .lds-facebook div:nth-child(2) { left: 26px; animation-delay: -0.12s; }

.lds-mask .lds-wrapper .lds-facebook div:nth-child(3) { left: 52px; animation-delay: 0; }

@keyframes lds-facebook { 0% { top: 6px;
    height: 55px; }
  50%, 100% { top: 19px;
    height: 30px; } }

/*# sourceMappingURL=common.css.map */