{% set title = "CONA | 회사소개" %}
{% set pageName = "aboutPage" %}
{% set pageTitle = "ABOUT" %}
{% set pageSubTitle = "Cryptocurrency Offering New Alternative" %}
{% extends "layout/base.html" %}

{% block content %}
{% include("layout/subvisual.html") %}

<section class="sec about-sec comm-pd">
    <div class="about-wrapper">
        <div class="about-content group">
            <h1 class="sr-only">회사소개</h1>

            <div class="tabs-type1 about-tabs">
                <div class="tablist" role="tablist" aria-label="about tabs">
                    <button class="tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">CONA의 장점</button>
                    <button class="tab" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1">시장현황 및 규모</button>
                    <button class="tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">시장구조</button>
                    <button class="tab" role="tab" aria-selected="false" aria-controls="panel-4" id="tab-4" tabindex="-1">거래통화</button>
                </div>
                <div class="tabpanel" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
                    <div class="text-wrapper">
                        <p class="text-1">코나(CONA)는 세계 최초 펀드레이징 커뮤니티 플랫폼입니다.</p>
                        <p class="text-2">
                            전통적인 상업에서는 불가능했던 것들을 암호화폐로 더욱 쉽게, 공정하게, 투명하게 접근하는 것이 코나 블록체인 프로젝트의 핵심입니다.<br>
                            금융과 IT의 융합을 통한 금융서비스 및 사업의 변화를 CONA와 함께 즐겨보세요
                        </p>
                        <p class="text-2">
                            코나코인(CONA)는 코나 생태계에서 기본적으로 권리와 이익을 추구할 수 있으며, 플랫폼과 사용자를 엮는 탈중앙화 금융 생태계 표준 재화입니다.<br>
                            플랫폼 내에 전체 소유권의 관한 지분을 나타낼 수 있습니다.
                        </p>
                        <p class="text-2">
                            코나의 A-IEO시스템은 급격한 디플레이션 현상의 대한 견고한 가격 방어가 가능합니다.<br>
                            지분 투자 방식을 통해 탈중앙화 가능성을 극대화 시키는 것이 코나 모금 플랫폼의 가장 큰 특징입니다.
                        </p>
                        <p class="text-2">
                            코나(CONA)는 생태계 참여기업에 다양한 멤버십 서비스를 제공합니다.<br>
                            블록체인 시장 내에 주요 인프라를 통합하여 투자자들은 새로운 투자 모델과 혁신적인 비즈니스 모델을 바탕으로 가치있는 프로젝트의 대중화를 실현합니다.
                        </p>
                    </div>
                    <div class="system-wrapper">
                        <h2 class="system-title">CONA의<br class="hidden-md-and-up"> The Future Business 시스템</h2>
                        <div class="system-bar cf">
                            <div class="system-dot">
                                <div class="dot">
                                    <span class="won-1"></span>
                                    <span class="won-2"></span>
                                    <span class="won-3"></span>
                                </div>
                                <dl>
                                    <dt>A-IEO제안</dt>
                                    <dd>
                                        혁신적인 모금방식을 통한<br>
                                        효율적이고 투명한 모금
                                    </dd>
                                </dl>
                            </div>
                            <div class="system-dot">
                                <div class="dot">
                                    <span class="won-1"></span>
                                    <span class="won-2"></span>
                                    <span class="won-3"></span>
                                </div>
                                <dl>
                                    <dt>커뮤니티 플랫폼</dt>
                                    <dd>
                                        투자자들과 소통, 사업<br>
                                        가속화 및 고도화
                                    </dd>
                                </dl>
                            </div>
                            <div class="system-dot">
                                <div class="dot">
                                    <span class="won-1"></span>
                                    <span class="won-2"></span>
                                    <span class="won-3"></span>
                                </div>
                                <dl>
                                    <dt>비즈니스 카테고리</dt>
                                    <dd>
                                        사업 진행 과정 내 네트워킹<br>
                                        및 적극적인 고객 유치 활동 가능
                                    </dd>
                                </dl>
                            </div>
                            <div class="system-dot">
                                <div class="dot">
                                    <span class="won-1"></span>
                                    <span class="won-2"></span>
                                    <span class="won-3"></span>
                                </div>
                                <dl>
                                    <dt>CONA Debit Card</dt>
                                    <dd>
                                        CONA Debit Card를 통한<br>
                                        탈 중앙화 금융 시장 선도
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabpanel" id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden>
                    <div class="text-wrapper">
                        <p class="text-1">A-IEO (성장형 모금)</p>
                        <p class="text-2">
                            블록체인 프로젝트는 시장을 바꿀 획기적인 아이디어로 시작됩니다.<br>
                            하지만 프로젝트를 지지해 주는 커뮤니티와 기여자들에게 적합한 방식으로 보상하지 않으면 어떠한 아이디어라도 무의미할 수밖에 없습니다.<br>
                            그렇기에 CONA 프로젝트는 성장형 모금(Growth Funds Raising)이라는 기존의 방식과 다른 자금 모금 방식을 제안합니다.<br>
                            이 모델명은 A-IEO라고 부릅니다.
                        </p>
                        <p class="text-2">
                            이 방식은 당일 매수량을 수치화하여 그에 맞는 지분을 암호화폐로 제공하고, 분배 후 전략적으로 소각하여 단기 디플레이션을 방지하는 모델입니다.
                            장기 디플레이션은 단계적으로 lock-up을 푸는 방식으로 설정하여 방지합니다.
                        </p>
                    </div>
                </div>
                <div class="tabpanel" id="panel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" hidden>
                    <div class="text-wrapper">
                        <p class="text-1">효율적인 투자 참여가 가능한 시장구조</p>
                        <p class="text-2">
                            코나코인은 개인 투자자가 중앙플랫폼을 통해 주문을 체결하여 코나(CONA)를 구매할 수 있습니다.<br>
                            체결된 코나(CONA)는 코나 생태계 내에서 공유가 가능하며, 코나와 제휴된 다양한 파트너사 및 글로벌 핀테크 기업과 함께 각 사업군의 대해서 효율적인 투자 참여가 가능합니다.<br>
                            개인투자자들은 이에 4차 산업혁명의 가속화에 이바지함은 물론이고, 암호화폐의 가치 향상에도 기여할 수 있습니다.
                        </p>
                    </div>
                    <figure class="structure-picture">
                        <img src="/images/about/structure.jpg" alt="시스템구조">
                    </figure>
                </div>
                <div class="tabpanel" id="panel-4" role="tabpanel" tabindex="0" aria-labelledby="tab-4" hidden>
                    <table class="currency-tbl">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>외화기호</th>
                                <th>통화 조합<br class="hidden-md-and-up"> (Currency Pair)</th>
                                <th>통화명<br class="hidden-md-and-up"> (Trading Terms)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="krw-row">
                                <td>CONA(KRW)</td>
                                <td>CONA/Korean Won</td>
                                <td>Korean Won</td>
                            </tr>
                            <tr>
                                <td>CONA(BTC)</td>
                                <td>CONA/Bitcoin</td>
                                <td>Bitcoin</td>
                            </tr>
                            <tr>
                                <td>CONA(ETH)</td>
                                <td>CONA/Ethereum</td>
                                <td>Ethereum</td>
                            </tr>
                            <tr>
                                <td>CONA(USDT)</td>
                                <td>CONA/Tether</td>
                                <td>Tether</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.sec about-sec -->

{% include("inc/bn_meet.html") %}

{% endblock %}