{% set title = "CONA | 회사소개" %}
{% set pageName = "aboutPage" %}
{% set pageTitle = "ABOUT" %}
{% set pageSubTitle = "Cryptocurrency Offering New Alternative" %}
{% extends "layout/base.html" %}

{% block content %}
{% include("layout/subvisual.html") %}

<section class="sec about-sec comm-pd">
    <div class="about-wrapper">
        <div class="about-content group">
            <h1 class="sr-only">회사소개</h1>
            <div class="tab-type1 about-tab">

            </div>
        </div>
    </div>
</section>
<!-- /.sec about-sec -->

{% include("inc/bn_meet.html") %}

{% endblock %}