// mobile & tablet xs & sm
@media (max-width: 991px) {
    $title-color: #252525;

    .sec.comm-pd[class|='main-'] {
        padding: 35px 0;
    }

    .sec[class*='main-'] .comm-title {
        text-align: center;

        .title {
            @include ft(24px, $primary-color, 700);
            text-transform: uppercase;
            line-height: 1.2;
        }

        .st {
            margin-top: 15px;
            font-size: 14px;
            line-height: 1.4;
        }
    }

    .sec[class*='main-'] .comm-text {
        padding-top: 10px;

        .text {
            margin-top: 15px;
            font-size: 13px;
            line-height: 1.9;
            font-weight: 300;
            word-break: keep-all;
            word-wrap: break-word;
        }
    }

    // visual 영역
    .main-visual-sec {
        position: relative;
        @include size(100%, 300px);
        background: url('/images/home/visual_bg.jpg') no-repeat 60% 50% / cover;
        // background-position-x: center;

        .visual-wrapper {
            .visual-content {
                padding-top: $hd-ht-m;

                // 슬라이드 예정
                .visual-list {
                    .visual-item {}
                }

                .visual-title {
                    position: relative;

                    .title-wrapper {
                        position: relative;
                        line-height: 1.3;
                        font-weight: 700;
                        text-align: center;
                        // text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
                        color: #fff;

                        .logo {
                            @include center-block;
                            width: 60px;
                        }

                        .title {
                            @include center(320px);
                            margin-top: 60px;
                            text-transform: uppercase;
                            font-weight: 100;
                            font-size: 25px;
                            letter-spacing: 2.5px;
                        }

                        .st {
                            margin-top: 15px;
                            display: block;
                            font-weight: 200;
                            line-height: 1.5;

                            >span {
                                display: block;
                            }

                            .big {
                                font-size: 15px;
                            }

                            .small {
                                margin-top: 5px;
                                letter-spacing: 1.2px;
                                font-size: 11px;
                            }
                        }
                    }
                }

                .visual-actions {
                    margin-top: 30px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    line-height: 1.5;
                    font-size: 0;

                    .inquiry-btn {
                        position: relative;
                        @include center-block(130px);
                        height: 32px;
                        @include btn-size(5px 0, 11.5px);
                        font-weight: 400;
                        color: #fff;
                        border-radius: 35px;
                        background-color: rgba(255, 255, 255, 0.2);
                        border: 1px solid #fff;

                        // .sic {
                        //     @include won-middle;
                        //     @include pos(absolute, null);
                        //     right: 15px;

                        //     .arr {
                        //         @include arr(10px, 45deg, #1f1f1f);
                        //         @include pos(relative, 2px, -2px);
                        //         border-width: 4px;
                        //         border-radius: 3px;
                        //     }
                        // }
                    }
                }
            }
        }
    }

    // about 영역
    .main-about-sec {
        padding: 40px 0px 100px;
        box-sizing: border-box;

        .about-wrapper {
            .about-content {
                text-align: right;

                .col {
                    position: relative;
                }

                .about-desc-wrapper {
                    padding: 0 25px;
                    padding-left: 80px;

                    .about-title {
                        text-align: right;
                    }
                }

                .about-picture-wrapper {
                    padding-left: 30px;
                    overflow: hidden;

                    .about-picture {
                        width: calc(100% + 80px);
                    }
                }
            }
        }
    }

    // process 영역
    .main-process-sec {
        padding: 120px 0 70px;
        box-sizing: border-box;
        background: url('/assets/img/m/main/process_bg.png') no-repeat center top / cover;

        .process-wrapper {
            .process-content {
                .process-card {
                    .card-list {
                        margin-top: 30px;
                        text-align: center;

                        .card {
                            position: relative;
                            // float: left;
                            display: inline-block;
                            vertical-align: middle;
                            @include size(280px, 168px);
                            margin-top: 35px;
                            padding: 25px 20px 20px;
                            box-sizing: border-box;
                            background: url('/assets/img/main/process_square.png') no-repeat center top;
                            background-size: 280px;
                            text-align: left;

                            .card-no {
                                @include pos(absolute, -15px, 33px);
                                font: 36px $font-jfss;
                                color: #fff;
                            }

                            .card-title {
                                font-size: 14px;
                                font-weight: 500;
                            }

                            .card-text {
                                margin-top: 22px;
                                font-size: 12px;
                                // font-weight: 300;
                                line-height: 1.8;
                                word-break: keep-all;
                            }

                            // &:nth-child(2n-1) {
                            //     margin-right: 25px;
                            // }

                            // &:nth-child(2n) {
                            //     margin-left: 25px;
                            // }
                        }
                    }
                }
            }
        }
    }

    // scalability 영역
    .main-scalability-sec {
        padding: 40px 0 50px;

        .scalability-wrapper {
            .scalability-content {
                .col {
                    position: relative;
                }

                .scalability-picture-wrapper {
                    z-index: -1;
                    width: 310px;
                    @include pos(absolute, 290px, -50px);
                }

                .scalability-card-wrapper {
                    padding-bottom: 20px;

                    .card-list {
                        margin-top: 25px;
                        margin-left: 50px;

                        .card {
                            float: left;
                            @include size(43%);
                            padding: 20px 18px;
                            padding-right: 0;
                            box-sizing: border-box;
                            background-color: #fff;
                            box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.1);
                            border-radius: 5px;

                            .card-picture {
                                img {
                                    height: 30px;
                                }
                            }

                            .card-text {
                                margin-top: 15px;
                                font-size: 12px;
                                line-height: 1.6;
                            }

                            // &:nth-child(2),
                            // &:nth-child(4) {
                            //     margin-top: 30px;
                            // }
                            &:nth-child(2n) {
                                margin-top: 10px;
                                margin-left: 10px;
                            }

                            &:not(:first-child) {
                                // margin-top: 30px;
                            }
                        }
                    }
                }

                .scalability-desc-wrapper {
                    padding-left: 25px;
                    box-sizing: border-box;
                    text-align: left;

                    .scalability-title {
                        text-align: left;
                    }

                    .scalability-text {
                        padding-right: 40px;
                    }
                }
            }
        }
    }

    // planning 영역
    .main-planning-sec {
        padding: 50px 0 70px;
        box-sizing: border-box;
        background: #f2f2f2 url('/assets/img/m/main/planning_bg.jpg') no-repeat center top;
        background-size: 100%;
        overflow: hidden;

        .planning-wrapper {
            .planning-content {
                .planning-bar {
                    position: relative;
                    margin: 0 auto;
                    margin-top: 30px;
                    // @include size(2px, 340px);
                    @include size(2px, 275px);
                    background-color: $primary-color;

                    .dot {
                        $wd-bg: 10px;
                        $wd-bg-bdr: 2px;
                        $wd-dot-pd: 2px;
                        $wd-dot-bdr: 1px;
                        // $wd-dot: $wd-bg + $wd-bg-bdr + $wd-dot-bdr + 2px;
                        $wd-dot: $wd-bg + $wd-dot-pd + $wd-dot-bdr + 3px;
                        @include pos(absolute, null, -7px);
                        @include sizes($wd-dot);
                        padding: $wd-dot-pd;
                        box-sizing: border-box;
                        border: $wd-dot-bdr solid $primary-color;
                        background-color: #fff;

                        .bg {
                            @include pos(absolute, 50%, 50%);
                            display: inline-block;
                            margin-top: -$wd-bg/2;
                            margin-left: -$wd-bg/2;
                            @include sizes($wd-bg);
                            // border: $wd-bg-bdr solid #fff;
                            background-color: $primary-color;
                        }

                        &,
                        .bg {
                            border-radius: 50%;
                        }

                        .name {
                            min-width: 165px;
                            position: absolute;
                            line-height: 1.3;
                            font-size: 12px;
                        }

                        &:nth-child(2n-1) {
                            .name {
                                right: 22px;
                                text-align: right;
                            }
                        }

                        &:nth-child(2n) {
                            .name {
                                left: 22px;
                                text-align: left;
                            }
                        }

                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(4),
                        &:nth-child(5) {
                            .name {
                                top: -7px;
                            }
                        }

                        &:nth-child(4) {
                            .name {
                                letter-spacing: -0.5px;
                            }
                        }

                        $ht: 65px;

                        &:nth-child(1) {
                            top: 0px;
                        }

                        &:nth-child(2) {
                            top: $ht;
                        }

                        &:nth-child(3) {
                            top: $ht * 2;
                        }

                        &:nth-child(4) {
                            top: $ht * 3;
                        }

                        &:nth-child(5) {
                            top: $ht * 4;
                        }

                        &:nth-child(6) {
                            top: $ht * 5;
                        }
                    }

                    .dot.spot {
                        .spot-name-wrapper {
                            display: none;
                            $ht: 45px;
                            display: inline-block;
                            // @include size(195px, $ht);
                            // padding: 0 20px;
                            min-width: 140px;
                            height: $ht;
                            background: rgb(125, 185, 232);
                            background: linear-gradient(135deg,
                                    rgba(125, 185, 232, 1) 0%,
                                    rgba(0, 150, 231, 1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#0096e7', GradientType=1);
                            text-align: center;
                            @include va-bef($ht);
                            box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.13);
                            @include pos(absolute, -$ht/2, 25px);
                            margin-top: 8px;
                            border-radius: 4px;

                            .spot-name {
                                @include ft(13px, #fff, 500);
                                // font-size: 18px;
                                // color: #fff;
                                text-align: center;
                            }
                        }

                        .spot-name-wrapper {}

                        .bg {
                            background: rgb(0, 150, 231);
                            background: linear-gradient(135deg,
                                    rgba(0, 150, 231, 1) 0%,
                                    rgba(125, 185, 232, 1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0096e7', endColorstr='#7db9e8', GradientType=1);
                        }
                    }
                }

                .planning-desc {
                    display: inline-block;
                    margin: 0 25px;
                    margin-top: 60px;
                    padding: 15px;
                    box-sizing: border-box;
                    border: 1px solid $font-color;

                    .text {
                        position: relative;
                        font-weight: 500;
                        line-height: 1.3;
                        font-size: 12px;
                        word-break: keep-all;
                        padding-left: 15px;

                        .dot {
                            position: absolute;
                            left: 0;
                        }

                        &:not(:first-child) {
                            margin-top: 10px;
                        }
                    }

                    &:after {
                        content: '';
                        display: block;
                    }
                }
            }
        }
    }

    // distribution 영역
    .main-distribution-sec {
        padding: 60px 0;

        .distribution-wrapper {
            overflow: hidden;

            .distribution-content {
                .distribution-text {
                    margin-top: 40px;

                    .col {
                        box-sizing: border-box;
                    }

                    .distribution-picture-wrapper {
                        margin-top: 40px;
                        padding: 50px 0 20px;

                        .distribution-picture {
                            position: relative;

                            .picture {
                                position: relative;
                                display: inline-block;
                                width: 190px;
                                @include center-block;

                                img {
                                    border-radius: 50%;
                                    box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.13);
                                }

                                .shadow {
                                    z-index: 1;
                                    display: block;
                                    @include centerMiddle(120px);
                                    border-radius: 50%;
                                    box-shadow: inset 2px 4px 12px 4px rgba(0, 0, 0, 0.13);
                                }
                            }

                            .lbl {
                                position: absolute;
                                display: inline-block;
                                min-width: 200px;
                                font-size: 11.5px;
                                font-weight: 700;
                                line-height: 1.235;
                                text-align: left;

                                &.lbl-1 {
                                    top: -30px;
                                    left: 50%;
                                    margin-left: 20px;
                                    color: #28bbf1;
                                }

                                &.lbl-2 {
                                    top: 50%;
                                    margin-top: -10px;
                                    left: 50%;
                                    margin-left: 105px;
                                    color: #085fb1;
                                }

                                &.lbl-3 {
                                    top: 100%;
                                    margin-top: -20px;
                                    right: 50%;
                                    margin-right: 70px;
                                    text-align: right;
                                    color: #8c84ff;
                                }

                                &.lbl-4 {
                                    top: 0px;
                                    right: 50%;
                                    margin-right: 72px;
                                    text-align: right;
                                    color: #723d9c;
                                }

                                &.lbl-5 {
                                    top: -28px;
                                    right: 50%;
                                    margin-right: 25px;
                                    text-align: right;
                                    color: #d197ff;
                                }
                            }
                        }
                    }

                    .distribution-desc-wrapper {
                        width: 85%;
                        margin: 0 auto;

                        .distribution-desc-tbl {
                            width: 100%;
                            padding-top: 50px;
                            // font-weight: 300;

                            colgroup {
                                col {
                                    width: 50%;
                                }
                            }

                            tbody {

                                th,
                                td {
                                    height: 30px;
                                    padding-left: 5px;
                                    border-bottom: 1px solid #c9c9c9;
                                    font-size: 12.5px;
                                    vertical-align: middle;
                                    text-align: left;
                                    line-height: 1.428;

                                    .logo {
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // technology 영역
    .main-technology-sec {
        padding: 50px 0 0px;
        margin-bottom: -1px;
        padding-bottom: 100%;
        background: #f9f9f9 url('/assets/img/m/main/technology_bg.jpg') no-repeat center bottom / contain;
        background-size: 100%;

        .technology-wrapper {
            .technology-content {
                text-align: right;

                .technology-desc-wrapper {
                    padding: 0 25px;

                    .technology-title {
                        text-align: right;
                    }

                    .technology-text {
                        padding-left: 25px;
                    }
                }
            }
        }
    }

    // contact 영역
    .main-contact-sec {
        padding: 50px 0px 30px;
        // box-sizing: padding
        box-sizing: initial;
        background: $primary-color-dark;

        .contact-wrapper {
            .contact-content {
                padding: 0 25px;

                .contact-title {
                    >* {
                        color: #fff;
                    }
                }

                .contact-form {
                    margin-top: 30px;

                    .form-group {
                        .col:not(:first-child) {
                            margin-top: 10px;
                        }

                        .form-textarea,
                        .form-input {
                            height: 40px;
                            border-radius: 0;
                            background-color: transparent;
                            @include ft(13px, #fff, 200);

                            &::placeholder {
                                color: #fff;
                            }
                        }

                        .form-textarea {
                            height: 100px;
                            padding-top: 10px;
                        }
                    }
                }

                .contact-actions {
                    margin-top: 20px;
                    text-align: center;

                    .send-btn {
                        @include btn-size(8px 25px, 15px);
                        background-color: #fff;
                        color: $primary-color-dark;

                        border-radius: 0;
                    }
                }
            }
        }
    }
}

// // mobile
// @media (max-width: 768px) {}

// // tablet
// @media (min-width: 768px) and (max-width: 991px) {}

// @media (min-width: 992px) {}

// // pc md & lg
@media (min-width: 992px) {
    $title-color: #252525;

    .sec.comm-pd[class|='main-'] {
        padding: 70px 0;
    }

    .sec[class*='main-'] .comm-title {
        text-align: center;

        .title {
            @include ft(40px, $primary-color, 700);
            text-transform: uppercase;
        }

        .st {
            margin-top: 25px;
            font-size: 22px;
        }
    }

    .sec[class*='main-'] .comm-text {
        padding-top: 20px;

        .text {
            margin-top: 30px;
            line-height: 1.9;
            font-weight: 300;
            word-break: keep-all;
            word-wrap: break-word;
        }
    }

    // visual 영역
    .main-visual-sec {
        position: relative;
        @include size(100%, 600px);
        background: url('/images/home/visual_bg.jpg') no-repeat center / cover;

        .visual-wrapper {
            .visual-content {

                // 슬라이드 예정
                .visual-list {
                    .visual-item {}
                }

                .visual-title {
                    position: relative;
                    padding-top: 80px;

                    .title-wrapper {
                        position: relative;
                        line-height: 1.3;
                        text-align: center;
                        // text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
                        color: #fff;

                        .logo {
                            @include center-block;
                        }

                        .title {
                            margin-top: 105px;
                            font-size: 50px;
                            text-transform: uppercase;
                            font-weight: 100;
                            letter-spacing: 4.5px;
                        }

                        .st {
                            margin-top: 30px;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 1.5;

                            >span {
                                display: block;
                            }

                            .big {
                                font-size: 30px;
                            }

                            .small {
                                margin-top: 5px;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }

                .visual-actions {
                    // @include center-ab(1000px);
                    // bottom: 60px;
                    margin-top: 60px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    line-height: 1.5;
                    font-size: 0;

                    .inquiry-btn {
                        position: relative;
                        // width: 350px;
                        @include center-block(250px);
                        height: 60px;
                        @include btn-size(16px 0, 18px);
                        font-weight: 500;
                        color: #fff;
                        border-radius: 35px;
                        background-color: rgba(255, 255, 255, 0.2);
                        border: 1px solid #fff;
                        // background-color: #fff;
                        // box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, .13);

                        // .sic {
                        //     @include won-middle;
                        //     @include pos(absolute, null);
                        //     right: 15px;

                        //     .arr {
                        //         @include arr(10px, 45deg, #1f1f1f);
                        //         @include pos(relative, 2px, -2px);
                        //         border-width: 4px;
                        //         border-radius: 3px;
                        //     }
                        // }
                    }
                }
            }
        }
    }

    // about 영역
    .main-about-sec {
        padding: 180px 0 100px;
        overflow: hidden;

        .about-wrapper {
            .about-content {
                min-height: 550px;
                text-align: right;

                .col {
                    position: relative;
                    width: 50%;
                }

                .about-desc-wrapper {
                    width: 48%;
                    z-index: 1;

                    .about-title {
                        text-align: right;
                    }
                }

                .about-picture-wrapper {
                    width: 751px;
                    height: 707px;
                    @include pos(absolute, -160px);
                    right: -200px;
                }
            }
        }
    }

    // process 영역
    .main-process-sec {
        // padding: 220px 0 150px;
        height: 1075px;
        padding-top: 220px;
        box-sizing: border-box;
        background: url('/assets/img/main/process_bg.png') no-repeat;

        .process-wrapper {
            .process-content {
                .process-card {
                    .card-list {
                        margin-top: 30px;
                        text-align: center;

                        .card {
                            position: relative;
                            // float: left;
                            display: inline-block;
                            vertical-align: middle;
                            @include size(400px, 240px);
                            margin-top: 55px;
                            padding: 45px 40px 35px;
                            box-sizing: border-box;
                            background: url('/assets/img/main/process_square.png') no-repeat;
                            text-align: left;

                            .card-no {
                                @include pos(absolute, -25px, 53px);
                                font: 60px $font-jfss;
                                color: #fff;
                            }

                            .card-title {
                                font-size: 20px;
                                font-weight: 500;
                            }

                            .card-text {
                                margin-top: 22px;
                                font-size: 14px;
                                // font-weight: 300;
                                line-height: 1.8;
                                word-break: keep-all;
                            }

                            &:nth-child(2n-1) {
                                margin-right: 25px;
                            }

                            &:nth-child(2n) {
                                margin-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    // scalability 영역
    .main-scalability-sec {
        padding: 85px 0 65px;
        min-height: 584px;

        .scalability-wrapper {
            .scalability-content {
                .col {
                    float: left;
                    position: relative;
                    width: 50%;
                }

                .scalability-picture-wrapper {
                    width: 525px;
                    height: 585px;
                    @include pos(absolute, 0px, -155px);
                    right: -200px;
                }

                .scalability-card-wrapper {
                    margin-top: 100px;

                    .card-list {
                        .card {
                            float: left;
                            @include size(220px, 200px);
                            padding: 30px;
                            box-sizing: border-box;
                            background-color: #fff;
                            box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.1);
                            border-radius: 5px;

                            .card-text {
                                margin-top: 25px;
                                font-size: 18px;
                                line-height: 1.6;
                            }

                            // &:nth-child(2),
                            // &:nth-child(4) {
                            //     margin-top: 30px;
                            // }
                            &:nth-child(2n) {
                                margin-top: 20px;
                                margin-left: 20px;
                            }

                            &:not(:first-child) {
                                // margin-top: 30px;
                            }
                        }
                    }
                }

                .scalability-desc-wrapper {
                    width: 50%;
                    padding-left: 30px;
                    box-sizing: border-box;
                    text-align: left;

                    .scalability-title {
                        text-align: left;
                    }
                }
            }
        }
    }

    // planning 영역
    .main-planning-sec {
        height: 950px;
        padding-top: 135px;
        box-sizing: border-box;
        background: url('/assets/img/main/planning_bg.jpg') no-repeat center / cover;
        overflow: hidden;

        .planning-wrapper {
            .planning-content {
                .planning-bar-wrapper {
                    margin-top: 280px;

                    .planning-bar {
                        position: relative;

                        @include size(100%, 2px);
                        background-color: $primary-color;

                        .dot {
                            $wd-bg: 15px;
                            $wd-bg-bdr: 4px;
                            $wd-dot-pd: 4px;
                            $wd-dot-bdr: 1px;
                            // $wd-dot: $wd-bg + $wd-bg-bdr + $wd-dot-bdr + 3px;
                            $wd-dot: $wd-bg + $wd-dot-pd + $wd-dot-bdr + 3px;
                            @include pos(absolute, -11px);
                            // @include sizes(23px);
                            @include sizes($wd-dot);
                            padding: $wd-dot-pd;
                            box-sizing: border-box;
                            border: $wd-dot-bdr solid $primary-color;
                            background-color: #fff;

                            .bg {
                                position: absolute;
                                @include pos(absolute, 50%, 50%);
                                display: inline-block;
                                margin-top: -$wd-bg/2;
                                margin-left: -$wd-bg/2;
                                @include sizes($wd-bg);
                                // border: $wd-bg-bdr solid #fff;
                                background-color: $primary-color;
                            }

                            &,
                            .bg {
                                border-radius: 50%;
                            }

                            .name {
                                min-width: 400px;
                                @include pos(absolute, null, -20px, 130px);
                                line-height: 1.3;
                                transform: rotate(-30deg);
                            }

                            &.dot:nth-child(1) {
                                left: 20px;
                            }

                            &.dot:nth-child(2) {
                                left: 251px;
                            }

                            &.dot:nth-child(3) {
                                left: 485px;
                            }

                            &.dot:nth-child(4) {
                                left: 726px;
                            }

                            // &.dot:nth-child(5) {
                            //     right: 20px;
                            // }

                            // &.dot:nth-child(1) {
                            //     left: 20px;
                            // }

                            // &.dot:nth-child(2) {
                            //     left: 206px;
                            // }

                            // &.dot:nth-child(3) {
                            //     left: 395px;
                            // }

                            // &.dot:nth-child(4) {
                            //     left: 581px;
                            // }

                            // &.dot:nth-child(5) {
                            //     left: 768px;
                            // }
                        }

                        .dot.spot {
                            left: auto;
                            right: 20px;

                            .spot-name-wrapper {
                                display: none;
                                $ht: 80px;
                                display: inline-block;
                                @include size(200px, $ht);
                                background: rgb(125, 185, 232);
                                background: linear-gradient(135deg,
                                        rgba(125, 185, 232, 1) 0%,
                                        rgba(0, 150, 231, 1) 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#0096e7', GradientType=1);
                                text-align: center;
                                @include va-bef($ht);
                                box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.13);
                                @include pos(absolute, 35px, null, null, -85px);
                                border-radius: 10px;

                                .spot-name {
                                    @include ft(18px, #fff, 500);
                                    // font-size: 18px;
                                    // color: #fff;
                                    text-align: center;
                                }

                                @include screen-min-max(992px, 1430px) {
                                    right: -30px;
                                }
                            }

                            .bg {
                                background: rgb(0, 150, 231);
                                background: linear-gradient(135deg,
                                        rgba(0, 150, 231, 1) 0%,
                                        rgba(125, 185, 232, 1) 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0096e7', endColorstr='#7db9e8', GradientType=1);
                            }
                        }
                    }

                    .planning-desc {
                        display: inline-block;
                        margin-top: 80px;
                        margin-left: 40px;
                        padding: 35px 40px;
                        box-sizing: border-box;
                        border: 1px solid $font-color;

                        .text {
                            font-weight: 500;
                            line-height: 1.3;

                            &:not(:first-child) {
                                margin-top: 18px;
                            }
                        }

                        &:after {
                            content: '';
                            display: block;
                        }
                    }
                }
            }
        }
    }

    // distribution 영역
    .main-distribution-sec {
        padding: 140px 0;

        .distribution-wrapper {
            .distribution-content {
                .distribution-title {}

                .distribution-text {
                    margin-top: 100px;

                    .col {
                        @include flt;
                        width: 50%;
                        box-sizing: border-box;
                    }

                    .distribution-picture-wrapper {
                        .distribution-picture {
                            position: relative;
                            padding-top: 50px;
                            padding-left: 70px;

                            .picture {
                                position: relative;
                                display: inline-block;

                                img {
                                    border-radius: 50%;
                                    box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.13);
                                }

                                .shadow {
                                    z-index: 1;
                                    display: block;
                                    @include centerMiddle(205px);
                                    border-radius: 50%;
                                    box-shadow: inset 2px 4px 12px 4px rgba(0, 0, 0, 0.13);
                                }
                            }

                            .lbl {
                                position: absolute;
                                display: inline-block;
                                min-width: 200px;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 1.428;
                                text-align: left;

                                &.lbl-1 {
                                    top: -30px;
                                    left: 50%;
                                    margin-left: 65px;
                                    color: #28bbf1;
                                }

                                &.lbl-2 {
                                    top: 50%;
                                    margin-top: -10px;
                                    left: 50%;
                                    margin-left: 180px;
                                    color: #085fb1;
                                }

                                &.lbl-3 {
                                    top: 100%;
                                    margin-top: -20px;
                                    right: 50%;
                                    margin-right: 95px;
                                    text-align: right;
                                    color: #8c84ff;
                                }

                                &.lbl-4 {
                                    top: 25px;
                                    right: 50%;
                                    margin-right: 135px;
                                    text-align: right;
                                    color: #723d9c;
                                }

                                &.lbl-5 {
                                    top: -35px;
                                    right: 50%;
                                    margin-right: 40px;
                                    text-align: right;
                                    color: #d197ff;
                                }
                            }
                        }
                    }

                    .distribution-desc-wrapper {
                        padding-left: 15px;

                        .distribution-desc-tbl {
                            width: 100%;
                            padding-top: 50px;
                            // font-weight: 300;

                            colgroup {
                                col {
                                    width: 50%;
                                }
                            }

                            tbody {

                                th,
                                td {
                                    height: 40px;
                                    vertical-align: middle;
                                    padding-left: 8px;
                                    border-bottom: 1px solid #c9c9c9;
                                    text-align: left;
                                    line-height: 1.428;

                                    .logo {
                                        width: 35px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // technology 영역
    .main-technology-sec {
        padding: 155px 0 0px;
        height: 642px;
        background: #f9f9f9 url('/assets/img/main/technology_bg.png') no-repeat bottom center;

        .technology-wrapper {
            .technology-content {
                min-height: 550px;
                text-align: right;

                .technology-desc-wrapper {
                    width: 50%;

                    .technology-title {
                        text-align: right;
                    }
                }
            }
        }
    }

    // contact 영역
    .main-contact-sec {
        padding: 120px 0px 50px;
        // box-sizing: padding
        box-sizing: initial;
        background: $primary-color-dark;

        .contact-wrapper {
            .contact-content {
                padding: 0 100px;

                .contact-title {
                    >* {
                        color: #fff !important;
                    }
                }

                .contact-form {
                    margin-top: 80px;

                    .form-group {
                        .col:not(:first-child) {
                            margin-top: 20px;
                        }

                        .form-textarea,
                        .form-input {
                            border-radius: 0;
                            background-color: transparent;
                            @include ft(18px, #fff, 200);

                            &::placeholder {
                                color: #fff;
                            }
                        }

                        .form-textarea {
                            height: 200px;
                        }
                    }
                }

                .contact-actions {
                    margin-top: 50px;
                    text-align: center;

                    .send-btn {
                        padding-left: 50px;
                        padding-right: 50px;
                        // background-color: #252525;
                        background-color: #fff;
                        color: $primary-color-dark;

                        border-radius: 0;
                    }
                }
            }
        }
    }
}