{% set title = "CONA | 공지사항" %}
{% set pageName = "noticePage" %}
{% set pageTitle = "NOTICE" %}
{% set pageSubTitle = "Always acitve Conacoin" %}
{% set titleLength = 300 %}
{% set contentLength = 3000 %}
{% extends "layout/base.html" %}

{% block content %}
{% include("layout/subvisual.html") %}

<section class="sec notice-alerts-sec comm-pd">
    <div class="alerts-wrapper">
        <div class="alerts-content group">
            <div class="alerts-title comm-title">
                <h1 class="title">
                    공지사항
                </h1>
            </div>
            <table class="tbl-type1 detail-tbl">
                <!-- <colgroup>
                    <col>
                    <col>
                </colgroup> -->
                <tbody>
                    <tr>
                        <td>
                            <p class="row title-row">
                                <span class="label title">제목</span><span class="label-text title">{{ alert.title }}</span></p>
                            <p class="row date-row">
                                <span class="label date">등록일</span><span class="label-text date">{{ alert.dateFormat( inquiry.createdAt ) }}</span></p>
                        </td>
                    </tr>
                    <tr class="content">
                        <td>
                            <p class="text content">{{ alert.content | safe}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alerts-actions comm-actions ">
                <a href="/notice/alerts" class="comm-btn outline back-btn">목록</a>
            </div>
        </div>
    </div>
</section>
<!-- /.sec support-alerts-sec -->

{% include("inc/bn_meet.html") %}
{% endblock %}