{% set title = "CONA | 공지사항" %}
{% set pageName = "noticePage" %}
{% set pageTitle = "NOTICE" %}
{% set pageSubTitle = "Always acitve Conacoin" %}
{% extends "layout/base.html" %}

{% block content %}
    {% include("layout/subvisual.html") %}

    <section class="sec support-inquirys-sec comm-pd">
        <div class="inquirys-wrapper">
            <div class="inquirys-content group">
                <div class="inquirys-title comm-title">
                    <h1 class="title">
                        공지사항
                    </h1>
                </div>
                <table class="list-tbl">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>제목</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in alerts %}
                            <tr>
                                <td class="no">{{ item.id }}</td>
                                <td class="title">
                                    {# <a href="javascript:;" data-link="{{ item.id }}" data-toggle="modal" data-target="support-inquirys-pw"> #}
                                    <a href="/notice/alerts/detail/{{ item.id }}">
                                        {{ item.title }}
                                    </a>
                                </td>
                                <td class="date">{{ item.dateFormat( item.createdAt ) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="inquirys-actions count-3">
                    {% if paginate.hasPreviousPages %}
                        <a href="{{ paginate.href(true) }}" class="comm-btn outline prev-btn">이전</a>
                    {% else %}
                        <a href="javascript:;" class="comm-btn outline prev-btn">이전</a>
                    {% endif %}

                    {% if paginate.hasNextPages(pageCount) %}
                        <a href="{{ paginate.href() }}" class="comm-btn outline next-btn">다음</a>
                    {% else %}
                        <a href="javascript:;" class="comm-btn outline next-btn">다음</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec support-inquirys-sec -->

    {% include("inc/bn_meet.html") %}

    <script></script>
{% endblock %}