<!DOCTYPE html>
<!--[if IE 8]><html lang="ko" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | 관리자</title>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/stylesheets/admin.min.css">

    <script src="/static/js/libs/jquery-1.12.1.min.js"></script>
</head>

<body id="adminSignupPage" class="admin-sign-page admin-signup-page">
    <h1 class="sr-only">로그인 페이지</h1>

    <section class="sec admin-sign-sec">
        <div class="sign-wrapper">
            <div class="sign-content">
                <h1 class="sign-title">Sign up to Admin</h1>
                <div class="sign-form-wrapper">
                    <form action="" method="post" id="signupForm">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                        <div class="form-group">
                            <label class="form-label">User ID</label>
                            <input type="text" class="form-input" placeholder="ID" name="username" required="required" autocomplete="username">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-input" placeholder="Password" name="password" required="required" autocomplete="new-password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-input" placeholder="Confirm Password" name="password2" required="required" autocomplete="new-password">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary lg btn-block">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#signupForm').submit(function () {

                // var $usernameInput = $('#signupForm input[name=username]');
                var $passwordInput = $('#signupForm input[name=password]');
                var $passwordInput2 = $('#signupForm input[name=password2]');

                // if ($usernameInput.val().trim().length == 0) {
                //     alert("아이디가 입력되지 않았습니다.");
                //     $usernameInput.value = '';
                //     $usernameInput.focus();
                //     return false;
                // }

                if ($passwordInput.val().length < 4) {
                    alert("4글자 이상 작성해주세요");
                    return false;
                }

                if ($passwordInput.val() !== $passwordInput2.val()) {
                    alert("패스워드와 확인용패스워드를 똑같이 입력해주세요.");
                    return false;
                }

                return true;
            });
        });
    </script>
    <!-- /.sec.admin-sign-sec -->

    {% include("layout/admin/bottom.html") %}
</body>

</html>