<!DOCTYPE html>
<!--[if IE 8]><html lang="ko" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
    <!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin</title>

        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/stylesheets/admin.min.css">

        <script src="/static/js/libs/jquery-1.12.1.min.js"></script>
    </head>

    <body id="adminSignupPage" class="admin-signin-page">
        <div id="adminWrapper" class="admin-wrapper">
            <h1 class="sr-only">로그인 페이지</h1>

            <section class="sec admin-sign-sec">
                <div class="sign-wrapper">
                    <div class="sign-content">
                        <h1 class="sign-title">Sign up to Admin</h1>
                        <div class="sign-form-wrapper">
                            <form>
                                <div class="form-group">
                                    <label for="userid" class="label">User ID</label>
                                    <input type="text" class="form-input" id="userid" placeholder="ID" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Password</label>
                                    <input type="password" class="form-input" id="password" placeholder="Password" required="required">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- /#wrapper -->

        {% include("layout/admin/bottom.html") %}
    </body>

</html>