<div id="pw-popup" class="modal-mask modal support-inquirys-pw" role="dialog" aira-modal="true" tabindex="-1">
    <div class="modal-wrapper">
        <div class="modal-container pw-pop">
            <p class="pw-pop-tit">PASSWORD</p>
            <input class="form-input pw-pop-input" id="sp_pw_input" type="password">
            <div class="pw-pop-btn">
                <a href="javascript:;" class="comm-btn outline prev-btn" data-dismiss="modal">이전</a>
                <a href="javascript:;" class="comm-btn outline next-btn" id="sp_submit">확인</a>
            </div>
        </div>
    </div>
</div>
<!-- password popup end -->