// 비밀번호 확인 팝업 영역
.support-inquirys-pw {
    .pw-pop {
        width: 90%;
        max-width: 360px;
        background: #fff;
        border-radius: 10px;
        text-align: center;

        .pw-pop-tit {
            font-weight: 500;
            padding: 40px 0 20px 0;
        }

        .pw-pop-input {
            text-align: center;
            width: 70%;
            border-color: #bdbdbd;
            border-radius: 5px;
        }

        .pw-pop-btn {
            text-align: center;
            padding: 30px 0 40px;

            .comm-btn {
                margin: 0 5px;
                @include btn-base(35%, 40px, 0);
                @include btn-transparent(#141414);
                border-radius: 0;
                font-size: 14px;
                line-height: 40px;
            }
        }

    }

    .pw-black {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        background: rgba($color: #000000, $alpha: 0.5);
    }
}

// mobile & tablet
@media (max-width: $screen-md-width - 1px) {
    .sec.comm-pd[class*='support-'] {
        padding: 30px 0;
    }

    .sec[class*='support-'] .comm-title {
        text-align: center;
        margin-bottom: 30px;

        .title {
            font-size: 18px;
            line-height: 1.2;
        }
    }

    $card-pd: 10px;

    .support-inquirys-isec {
        .inquirys-wrapper {
            .inquirys-content {
                .tbl-comm-st {
                    margin-bottom: 10px;
                    font-size: 12px;
                    line-height: 1.235;
                    letter-spacing: -0.7px;
                }

                .list-tbl {
                    width: 100%;
                    table-layout: fixed;
                    letter-spacing: -0.7px;

                    col {
                        &:nth-child(1) {
                            width: 20%;
                        }

                        &:nth-child(2) {
                            width: 13%;
                        }

                        &:nth-child(3) {
                            width: 50%;
                        }

                        &:nth-child(4) {
                            width: 17%;
                        }
                    }

                    th,
                    td {
                        text-align: center;
                        height: 40px;
                        vertical-align: middle;
                        font-size: 12px;
                    }

                    td {
                        &.title {
                            text-align: left;
                            padding-left: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .status {
                            font-weight: 500;
                            color: $font-gray2;

                            &.active {
                                color: $primary-color;
                            }
                        }
                    }

                    tr {
                        border-bottom: 1px solid $bor-gray2;
                    }

                    thead {
                        border-top: 2px solid $primary-color;
                    }

                    tbody {}
                }

                .inquirys-actions {
                    margin-top: 20px;
                    text-align: center;

                    .comm-btn {
                        @include btn-base;
                        border-radius: 0;
                        @include btn-size(10px 0px, 13px);
                        width: 35%;
                        max-width: 200px;
                        margin: 0 3px;

                        &.outline {
                            @include btn-transparent(#141414);
                        }

                        &.primary {
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }

                    &.count-3 {
                        text-align: left;

                        .comm-btn {
                            width: 25%;

                            &.list-btn,
                            &.inquiry-btn {
                                margin: 0;
                                position: absolute;
                                bottom: 0;
                                right: 10px;
                            }

                            &.inquiry-btn {
                                width: 30%;
                            }
                        }

                    }
                }

                // to do...
                .detail-tbl {
                    position: relative;
                    margin-top: 10px;
                    width: 100%;
                    border-top: solid 2px $primary-color;
                    line-height: 1.423;
                    font-size: 13px;

                    tbody {
                        tr {
                            vertical-align: middle;
                            border-bottom: solid 1px $bor-gray;

                            td {
                                padding: 10px $card-pd;
                            }

                            .row {
                                display: block;
                                // width: 100%;

                                &+.row {
                                    margin-top: 10px;
                                }
                            }

                            .label,
                            .status,
                            .label-text {
                                display: inline-block;
                                vertical-align: top;
                            }

                            .label,
                            .status {
                                font-size: 13.5px;
                                font-weight: 500;
                            }


                            .text,
                            .label-text {
                                color: $font-gray3;
                            }

                            $lbl-mwd: 50px;
                            $lbl-ml: 10px;

                            .label {
                                display: inline-block;
                                min-width: $lbl-mwd;
                            }

                            .label-text {
                                margin-left: $lbl-ml;
                            }

                            .status {
                                position: absolute;
                                top: 10px;
                                right: $card-pd;
                                color: $font-gray2;

                                &.active {
                                    color: $primary-color;
                                }
                            }

                            &.title {
                                .label-text {
                                    width: calc(100% - #{$lbl-mwd} - #{$lbl-ml});
                                }
                            }

                            &.content {
                                .text {
                                    min-height: 100px;
                                }
                            }

                            &.download {
                                .down-btn {
                                    @include btn-transparent($font-gray2);
                                    color: $font-gray;
                                    font-size: 13px;
                                    border-radius: 2px;

                                    &+.down-btn {
                                        margin-left: 5px;
                                    }
                                }

                                .text {
                                    margin-top: 10px;

                                    &+.text {
                                        margin-top: 5px;
                                    }
                                }
                            }

                            &.reply-wrapper {
                                .reply-name {
                                    color: $primary-color;
                                }

                                .reply-content {
                                    margin-top: 10px;
                                }
                            }

                            .reply-register-wrapper {
                                margin-top: 20px;

                                .tablist {
                                    .tab {
                                        display: inline-block;

                                        .tab-btn {
                                            display: inline-block;
                                            padding: 3px 10px;
                                            border: 1px solid $font-gray;
                                            color: $font-gray;
                                            font-size: 13px;

                                            .arr {
                                                position: relative;
                                                display: inline-block;
                                                margin-left: 5px;
                                                border: 2px solid $font-gray;
                                                @include sizes(6px);
                                                transform: rotate(-45deg);
                                                vertical-align: middle;

                                                &.up {
                                                    display: none;
                                                    top: 1px;
                                                    border-left: none;
                                                    border-bottom: none;
                                                }

                                                &.down {
                                                    top: -3px;
                                                    border-top: none;
                                                    border-right: none;
                                                }
                                            }

                                            &.active {
                                                border-color: $primary-color;
                                                color: $primary-color;

                                                .arr {
                                                    border-color: $primary-color;

                                                    &.up {
                                                        display: inline-block;
                                                    }

                                                    &.down {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }

                                        &+.tab {
                                            margin-left: 3px;
                                        }
                                    }
                                }

                            }

                            .reply-form-in {
                                display: none;
                                position: relative;
                                margin-top: 10px;
                                height: 60px;
                                border: 1px solid $bor-gray2;

                                .register-content,
                                .register-btn {
                                    float: left;
                                    height: 100%;
                                    border-radius: 0;
                                }

                                .register-content {
                                    width: 85%;
                                    border: none;
                                }

                                .register-btn {
                                    @include ap-reset;
                                    width: 15%;
                                    border-left: 1px solid $bor-gray2;
                                }

                                &.active {
                                    display: block;
                                }
                            }

                        }
                    }
                }

                .edit-tbl {
                    position: relative;
                    width: 100%;
                    border-top: solid 2px $primary-color;
                    line-height: 1.423;
                    font-size: 13px;

                    .form-input {
                        // margin: 10px 0;
                        margin-left: $card-pd;
                        // width: 60%;
                        width: calc(100% - 10px - 70px);
                        min-width: 180px;
                        height: 30px;
                        border: solid 1px #bdbdbd;
                        border-radius: 5px;

                        &.title {
                            margin-top: 10px;
                            margin-left: 0;
                            display: block;
                            width: 100%;
                        }
                    }

                    .form-textarea {
                        // margin: 10px 0;
                        border: solid 1px #bdbdbd;
                        border-radius: 5px;

                        &.content {
                            margin-top: 10px;
                            margin-left: 0;
                            display: block;
                            height: 200px;
                        }
                    }

                    tbody {

                        tr {
                            vertical-align: middle;
                            border-bottom: solid 1px $bor-gray;

                            td {
                                padding: 10px $card-pd;
                            }

                            .row {
                                display: block;

                                &+.row {
                                    .form-input {
                                        margin-top: 10px;
                                    }
                                }
                            }

                            .label {
                                display: inline-block;
                                font-size: 13.5px;
                                font-weight: 500;
                                // min-width: 70px;
                                width: 70px;
                            }

                            &.title,
                            &.content {
                                text-align: center;
                            }

                            &.attach,
                            &.title,
                            &.content {
                                .label {
                                    display: block;
                                    width: 100%;
                                    margin-top: 5px;
                                }
                            }

                            &.attach {
                                .fileform-wrapper {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

// // mobile
// @media (max-width: $screen-sm-width - 1px) {}

// // tablet
// @media (min-width: $screen-sm-width) and (max-width: $screen-md-width - 1px) {}

// pc md & lg
@media (min-width: $screen-md-width) {
    .sec.comm-pd[class*='support-'] {
        padding: 70px 0;
    }

    .sec[class*='support-'] .comm-title {
        text-align: center;
        margin-bottom: 50px;

        .title {
            font-size: 30px;
            line-height: 1.2;
        }
    }

    $card-pd: 20px;

    .support-inquirys-isec {
        .inquirys-wrapper {
            .inquirys-content {
                .tbl-comm-st {
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                .list-tbl {
                    width: 100%;
                    table-layout: fixed;

                    col {
                        &:nth-child(1) {
                            width: 12%;
                        }

                        &:nth-child(2) {
                            width: 15%;
                        }

                        &:nth-child(3) {
                            width: 61%;
                        }

                        &:nth-child(4) {
                            width: 12%;
                        }
                    }

                    th,
                    td {
                        text-align: center;
                        height: 50px;
                        vertical-align: middle;
                    }

                    td {
                        font-size: 14px;

                        &.title {
                            text-align: left;
                            padding-left: 10px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .status {
                            color: $font-gray2;
                            font-weight: 500;

                            &.active {
                                color: $primary-color;
                            }
                        }
                    }

                    tr {
                        border-bottom: 1px solid $bor-gray2;
                    }

                    thead {
                        border-top: 2px solid $primary-color;
                    }

                    tbody {}
                }

                .detail-tbl {
                    position: relative;
                    width: 100%;
                    border-top: solid 2px $primary-color;
                    line-height: 1.423;
                    font-size: 14px;

                    tbody {
                        tr {
                            vertical-align: middle;
                            border-bottom: solid 1px $bor-gray;

                            td {
                                padding: 15px $card-pd;
                            }

                            .row {
                                display: inline-block;
                            }

                            .label,
                            .status,
                            .label-text {
                                display: inline-block;
                                vertical-align: top;
                            }

                            .label,
                            .status {
                                font-size: 16px;
                                font-weight: 500;
                            }

                            .text,
                            .label-text {
                                color: $font-gray3;
                            }

                            $lbl-mwd: 30px;
                            $lbl-ml: 20px;

                            .label {
                                min-width: $lbl-mwd;
                            }

                            .label-text {
                                margin-left: $lbl-ml;
                            }

                            .status {
                                position: absolute;
                                top: 15px;
                                right: $card-pd;
                                color: $font-gray2;

                                &.active {
                                    color: $primary-color;
                                }
                            }

                            &.name {
                                .row {
                                    width: 30%;
                                }
                            }

                            &.title {
                                .label-text {
                                    width: calc(100% - #{$lbl-mwd} - #{$lbl-ml});
                                }
                            }

                            &.content {
                                .text {
                                    min-height: 150px;
                                }
                            }

                            &.download {
                                .down-btn {
                                    @include btn-transparent($font-gray2);
                                    color: $font-gray;
                                    border-radius: 2px;

                                    &+.down-btn {
                                        margin-left: 5px;
                                    }
                                }

                                .text {
                                    margin-top: 10px;

                                    &+.text {
                                        margin-top: 5px;
                                    }
                                }
                            }

                            &.reply-wrapper {
                                .reply-name {
                                    color: $primary-color;
                                }

                                .reply-content {
                                    margin-top: 15px;
                                }
                            }

                            .reply-register-wrapper {
                                margin-top: 20px;

                                .tablist {
                                    .tab {
                                        display: inline-block;

                                        .tab-btn {
                                            display: inline-block;
                                            padding: 3px 10px;
                                            border: 1px solid $font-gray2;
                                            color: $font-gray2;
                                            font-size: 14px;

                                            .arr {
                                                position: relative;
                                                display: inline-block;
                                                margin-left: 5px;
                                                border: 2px solid $font-gray2;
                                                @include sizes(6px);
                                                transform: rotate(-45deg);
                                                vertical-align: middle;

                                                &.up {
                                                    display: none;
                                                    top: 0px;
                                                    border-left: none;
                                                    border-bottom: none;
                                                }

                                                &.down {
                                                    top: -4px;
                                                    border-top: none;
                                                    border-right: none;
                                                }
                                            }

                                            &.active {
                                                color: $primary-color;
                                                border-color: $primary-color;

                                                .arr {
                                                    border-color: $primary-color;

                                                    &.up {
                                                        display: inline-block;
                                                    }

                                                    &.down {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }

                                        &+.tab {
                                            margin-left: 3px;
                                        }
                                    }
                                }
                            }

                        }

                        .reply-form-in {
                            display: none;
                            position: relative;
                            margin-top: 10px;
                            height: 100px;
                            border: 1px solid $bor-gray2;

                            .register-content,
                            .register-btn {
                                float: left;
                                height: 100%;
                                border-radius: 0;
                            }

                            .register-content {
                                width: 90%;
                                border: none;
                            }

                            .register-btn {
                                @include ap-reset;
                                width: 10%;
                                border-left: 1px solid $bor-gray2;
                            }

                            &.active {
                                display: block;
                            }
                        }
                    }
                }

                .edit-tbl {
                    position: relative;
                    width: 100%;
                    border-top: solid 2px $primary-color;
                    line-height: 1.423;

                    .form-input {
                        width: 60%;
                        min-width: 180px;
                        height: 38px;
                        border: solid 1px #bdbdbd;
                        border-radius: 5px;

                        &.title {
                            width: 85%;
                        }
                    }

                    .form-textarea {
                        border: solid 1px #bdbdbd;
                        border-radius: 5px;


                        &.content {
                            display: block;
                            margin-top: 10px;
                            font-size: 14px;
                            height: 300px;
                        }
                    }

                    .texta-wrapper {
                        width: 100%;
                        margin-top: 10px;
                    }

                    tbody {
                        tr {
                            td {
                                padding: 10px $card-pd;
                            }

                            vertical-align: middle;
                            border-bottom: solid 1px $bor-gray;

                            .row {
                                display: inline-block;

                                &+.row {
                                    margin-left: $card-pd + 10px;
                                }
                            }

                            .label {
                                display: inline-block;
                                font-weight: 500;
                                // width: 75px;

                                &.content {
                                    margin-top: 10px;
                                    width: 100%;
                                }
                            }

                            .label-text {
                                margin-left: $card-pd;
                            }

                            &.title {
                                text-align: left;
                            }

                            &.content {
                                // td {
                                //     padding-left: $card-pd;
                                //     padding-right: $card-pd;
                                // }

                                text-align: center;
                            }

                            &.attach {
                                .fileform-wrapper {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }

                .inquirys-actions {
                    margin-top: 50px;
                    text-align: center;

                    .comm-btn {
                        @include btn-base;
                        border-radius: 0;
                        @include btn-size(15px 0px, 18px);
                        width: 18%;
                        max-width: 200px;
                        margin: 0 10px;

                        &.outline {
                            @include btn-transparent(#141414);
                        }

                        &.primary {
                            background-color: $primary-color;
                            color: #fff;
                        }

                        &.list-btn,
                        &.inquiry-btn {
                            margin: 0;
                            position: absolute;
                            bottom: 0;
                            right: 0;

                            @include screen-lg {
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}