{% set title = "CONA | 코나뉴스" %}
{% set pageName = "noticePage" %}
{% set pageTitle = "NOTICE" %}
{% set pageSubTitle = "Always acitve Conacoin" %}
{% extends "layout/base.html" %}

{% block content %}
{% include("layout/subvisual.html") %}

<section class="sec notice-news-sec comm-pd">
    <div class="news-wrapper">
        <div class="news-content group">
            <div class="news-title comm-title">
                <h1 class="title">
                    코나뉴스
                </h1>
            </div>
            <table class="tbl-type1 list-tbl">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>제목</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in news %}
                    <tr>
                        <td class="no">{{ item.id }}</td>
                        <td class="link ta-left">
                            <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                        </td>
                        <td class="date">{{ item.dateFormat( item.createdAt ) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="news-actions comm-actions count-3">
                {% if paginate.hasPreviousPages %}
                <a href="{{ paginate.href(true) }}" class="comm-btn outline prev-btn">이전</a>
                {% else %}
                <a href="javascript:;" class="comm-btn outline prev-btn">이전</a>
                {% endif %}

                {% if paginate.hasNextPages(pageCount) %}
                <a href="{{ paginate.href() }}" class="comm-btn outline next-btn">다음</a>
                {% else %}
                <a href="javascript:;" class="comm-btn outline next-btn">다음</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- /.sec support-news-sec -->

{% include("inc/bn_meet.html") %}

{% endblock %}