{% set pageName = 'adminSiteimgPage' %}
{% set titleLength = 300 %}
{% extends "admin/layout/base.html" %}

{% block content %}
<section class="sec admin-siteimg-sec">
    <h1 class="comm-sec-title sec-title">이미지 등록</h1>
    <div class="wrapper-group cf">
        <div class="wrapper-type1 comm-card card-sm edit-wrapper">
            <div class="content-type1">
                <div class="comm-title">
                    <h2 class="title">파트너사 배너 이미지 등록 <span class="st">(<span class="c-primary">10MB 이하</span>, 권장 사이트 210 x 80)</span></h2>
                </div>
                <table class="tbl-type1 edit-tbl">
                    <colgroup>
                        <col style="width: 100%">
                    </colgroup>
                    <tbody id="bannersContainer">
                        {% set itemId = 0 %}

                        {% if partnerbanners.length == 0 %}
                        {% set itemId  = itemId + 1 %}

                        <tr class="bor-no upload-row" data-id="{{ item.id }}">
                            <td>
                                <span class="no">No {{ itemId }}. </span>
                                <span class="label">링크: </span>
                                <input class="form-input label-text link" name="link" type="text" maxlength="{{ titleLength }}" value="{{ item.link }}">

                                <span class="label img"><span class="c-primary">＊</span>이미지: </span>
                                <div class="fileform-wrapper pd-md">
                                    <input type="file" class="fileform" name="partnerbannerFiles_{{ itemId }}" id="partnerbannerFiles_{{ itemId }}" data-file-size="10">
                                    <label for="partnerbannerFiles_{{ itemId }}">파일선택</label>
                                    <span class="filename">선택된 파일 없음</span>
                                </div>


                                <span class="btn-cover pull-right">
                                    <a href="javascript:;" class="btn btn-primary outline edit-one-btn" onclick="addOne(this)">등록</a>
                                </span>
                            </td>
                        </tr>
                        {% else %}

                        {% for item in partnerbanners %}
                        {% set itemId  = itemId + 1 %}
                        <tr class="bor-no upload-row" data-id="{{ item.id }}">
                            <td>
                                <span class="no">No {{ itemId }}. </span>
                                <span class="label">링크: </span>
                                <input class="form-input label-text link" readonly name="link" type="text" maxlength="{{ titleLength }}" value="{{ item.link }}">

                                <span class=" label img"><span class="c-primary">＊</span>이미지: </span>
                                <span class="file-name label-text">{{ item.filename }}</span>
                                <div class="fileform-wrapper pd-md hide">
                                    <input type="file" class="fileform" name="partnerbannerFiles_{{ itemId }}" id="partnerbannerFiles_{{ itemId }}" data-file-size="10">
                                    <label for="partnerbannerFiles_{{ itemId }}">파일선택</label>
                                    <span class="filename">선택된 파일 없음</span>
                                </div>


                                <span class="btn-cover pull-right">
                                    <a href="javascript:;" class="btn btn-primary outline edit-one-btn" onclick="editToggleOn(this)">수정</a>
                                    <a href="javascript:;" class="btn btn-gray outline edit-one-btn" onclick="deleteOne(this)">삭제</a>
                                    <a href="javascript:;" class="btn btn-primary outline edit-one-btn hide" onclick="editOne(this)">적용</a>
                                    <a href="javascript:;" class="btn btn-gray outline edit-one-btn hide" onclick="editToggleOn(this)">취소</a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="comm-actions">
                    {% if partnerbanners.length %}
                    <a href="javascript:;" class="comm-btn primary register-btn" id="addOneRow" onclick="addOneRow(this)">추가</a>
                    {% endif %}
                    {% if partnerbanners.length %}
                    <a href="javascript:;" class="comm-btn outline delete-btn pull-right" onclick="deleteAll()">전체
                        삭제</a>
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function editToggleOn(obj) {
        $(obj).toggleClass('hide').siblings().toggleClass('hide');
        $(obj).closest('td').find('.file-name').toggleClass('hide');
        var isReadonly = $(obj).closest('td').find('.form-input').prop('readonly');
        $(obj).closest('td').find('.form-input').prop('readonly', !isReadonly);
        $(obj).closest('td').find('.form-input:first-of-type').focus();
        $(obj).closest('td').find('.fileform-wrapper').toggleClass('hide');
    }

    function addOne(obj) {
        var bannerFiles = $(obj).closest('td').find('input[type=file]')[0].files;
        var link = $(obj).closest('td').find('input[type=text]').val();
        // if (link.trim() == '') {
        //     alert('링크를 입력하세요.')
        //     return false;
        // }
        if (!bannerFiles.length) {
            alert('파일을 등록하세요.')
            return false;
        }
        data = new FormData();
        // console.log(bannerFiles.length);
        // console.log(bannerFiles[0]);
        // console.log(link);
        data.append("link", link);
        data.append("file", bannerFiles[0]);
        $loading.show();
        $.ajax({
            data: data,
            type: "post",
            url: '/conaservice/siteimg/partnerbanners/add',
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                $loading.hide();
                location.reload();
            },
            fail: function (error) {
                console.log(error);
                alert('오류 발생');
            }
        });
    }

    function editOne(obj) {
        var bannerFiles = $(obj).closest('td').find('input[type=file]')[0].files;
        var link = $(obj).closest('td').find('input[type=text]').val();
        var dataId = $(obj).closest('tr').attr('data-id');
        data = new FormData();
        // console.log(bannerFiles.length);
        // console.log(bannerFiles[0]);
        // console.log(link);
        // console.log(dataId);
        data.append("link", link);
        data.append("file", bannerFiles[0]);
        $loading.show();
        $.ajax({
            data: data,
            type: "post",
            url: '/conaservice/siteimg/partnerbanners/edit/' + dataId,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                $loading.hide();
                location.reload();
            },
            fail: function (error) {
                console.log(error);
                alert('오류 발생');
            }
        });
    }

    function deleteOne(obj) {
        var dataId = $(obj).closest('tr').attr('data-id');
        // console.log(dataId);
        $loading.show();
        $.ajax({
            type: "get",
            url: '/conaservice/siteimg/partnerbanners/delete/' + dataId,
            success: function (result) {
                $loading.hide();
                location.reload();
            },
            fail: function (error) {
                console.log(error);
                alert('오류 발생');
            }
        });
    }

    function deleteAll() {
        $loading.show();
        $.ajax({
            type: "get",
            url: '/conaservice/siteimg/partnerbanners/delete_all',
            success: function (result) {
                $loading.hide();
                location.reload();
            },
            fail: function (error) {
                console.log(error);
                alert('오류 발생');
            }
        });
    }

    function addOneRow(obj) {
        var $bannersContainer = $('#bannersContainer');
        var itemIndex = $('#bannersContainer').find('tr:last-child').index() + 2;
        // console.log(itemIndex);
        var $addOne = '\
            <tr class="bor-no upload-row" id="addOneRow">\
                <td>' +
            '<span class="no">No ' + itemIndex + '. </span>' +
            '<span class="label">링크: </span>\
                    <input class="form-input label-text link" name="link" type="text"\
                        maxlength="{{ titleLength }}" value="{{ item.link }}">\
                    <span class="label img"><span class="c-primary">＊</span>이미지: </span>\
                    <div class="fileform-wrapper pd-md">' +
            '<input type="file" class="fileform" name="partnerbannerFiles_' + itemIndex + '" id="partnerbannerFiles_' +
            itemIndex + '" data-file-size="10">' +
            '<label for="partnerbannerFiles_' + itemIndex + '">파일선택</label>' +
            '<span class="filename">선택된 파일 없음</span>\
                    </div>\
                    <span class="btn-cover pull-right">\
                        <a href="javascript:;" class="btn btn-primary outline edit-one-btn"\
                            onclick="addOne(this)">적용</a>\
                        <a href="javascript:;" class="btn btn-gray outline edit-one-btn"\
                            onclick="removeAddOneRow(this)">취소</a>\
                    </span>\
                </td>\
            </tr>';
        $bannersContainer.append($addOne);
        $(obj).addClass('hide');
    }

    function removeAddOneRow(obj) {
        $(obj).closest('tr').remove();
        $('#addOneRow').toggleClass('hide');
    }
</script>
{% endblock %}