{% set pageName = 'adminAlertsPage' %}
{% set titleLength = 300 %}
{% set contentLength = 3000 %}
{% extends "admin/layout/base.html" %}

{% block content %}
<section class="sec admin-alerts-sec ">
    <h1 class="comm-sec-title sec-title">공지사항</h1>
    <div class="wrapper-type1 comm-card detail-wrapper">
        <div class="content-type1 detail-content">
            <div class="comm-title">
                <h2 class="title">공지사항 리스트</h2>
            </div>
            <table class="tbl-type1 detail-tbl">
                <tbody>
                    <tr class="title">
                        <td>
                            <span class="label title">제목</span><span class="label-text title">{{ alert.title }}</span>
                        </td>
                    </tr>
                    <tr class="content">
                        <td>
                            <p class="text content">{{ alert.content | safe }}</p>
                            <!-- <p class="text content">{{ alert.content }}</p> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="comm-actions">
                <a href="/conaservice/alerts/" class="comm-btn outline list-btn">목록</a>
                <a href="/conaservice/alerts/edit/{{ alert.id }}" class="comm-btn primary edit-btn">수정</a>
                <a href="/conaservice/alerts/delete/{{ alert.id }}" class="comm-btn outline delete-btn">삭제</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}