{% set pageName = 'adminInquirysPage' %}
{% extends "admin/layout/base.html" %}

{% block content %}
<section class="sec admin-inquirys-sec ">
    <h1 class="comm-sec-title sec-title">실시간 문의</h1>
    <div class="inquirys-wrapper comm-card inquirys-list">
        <div class="inquirys-content">
            <div class="inquirys-title comm-title">
                <h2 class="title">실시간 문의 리스트</h2>
                <div class="title-actions comm-actions-top">
                    <a href="/conaservice/alerts/write" class="comm-btn primary new-btn">새 글</a>
                </div>
            </div>
            <table class="tbl-type1 list-tbl">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <!-- <col> -->
                </colgroup>
                <thead>
                    <tr>
                        <th>등록일</th>
                        <th>작성자</th>
                        <th>제목</th>
                        <!-- <th>진행상황</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for item in alerts %}
                    <tr>
                        <td class="date">{{ item.dateFormat( item.createdAt )}}</td>
                        <td class="name">{{ item.name }}</td>
                        <td class="title">
                            <a href="/conaservice/alerts/detail/{{ item.id }}">
                                {{ item.title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="inquirys-pagenation pager">
                <ul class="pager-nav">
                    {% if paginate.hasPreviousPages %}
                    <li>
                        <a href="{{ pages[0].url }}" class="pager-link arrow first active">&laquo;</a>
                    </li>
                    <li>
                        <a href="{{ paginate.href(true) }}" class="pager-link arrow prev active">&lsaquo;</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="javascript:;" class="pager-link arrow first">&laquo;</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="pager-link arrow prev">&lsaquo;</a>
                    </li>
                    {% endif %}
                    {% for page in pages %}
                    <li class="">
                        <a href="{{ page.url }}" class="pager-link{% if paginate.page == page.number %} active {% endif %}">{{ page.number }}</a>
                    </li>
                    {% endfor %}
                    {% if paginate.hasNextPages(pageCount) %}
                    <li>
                        <a href="{{ paginate.href() }}" class="pager-link arrow next active">&rsaquo;</a>
                    </li>
                    <li>
                        <a href="/conaservice/alerts/?page={{ pageCount }}&amp;limit={{ limit }}" class="pager-link arrow last active">&raquo;</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="javascript:;" class="pager-link arrow next">&rsaquo;</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="pager-link arrow last">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}