{% macro include(fileName) %} {% include fileName ignore missing %} {% endmacro %}
<!DOCTYPE html>
<!--[if IE 8]><html lang="ko" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin :: 관리자페이지</title>

    <link rel="stylesheet" href="/assets/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/admin/contents.min.css">
</head>

<body id="{{ pageVar.pageName }}">
    <div id="wrapper" class="wrapper">
        {% include("common/admin/header.html") %}

        <main id="container" class="container" role="main">
            <div class="container-fluid p-0">
                <div class="row m-0">
                    {% include("common/admin/sidebar.html") %}

                    {%- block content %}{% endblock -%}
                </div>
            </div>
        </main>
    </div>
    <!-- /#wrapper -->
    {% include("common/admin/bottom.html") %}
</body>

</html>