<nav class="navbar navbar-dark fixed-top flex-nowrap p-0 shadow admin-toolbar">
    <a class="navbar-brand px-3 mr-0 text-dark" href="#">Admin 관리자</a>
    <div class="app-title align-items-center">
        <h1 class="title text-left h5 mb-0 font-weight-normal sr-only">
            Users
        </h1>
        <div class="app-search">
            <form>
                <div class="input-group"><input type="text" class="form-control" placeholder="Search..."><span class="mdi mdi-magnify"></span>
                    <div class="input-group-append"><button class="btn btn-secondary" type="submit">Search</button></div>
                </div>
            </form>
        </div>
    </div>
    <ul class="navbar-nav px-3 text-right">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>