<div class="admin-toolbar">
    <ul class="toolbar-menu">
        <li class="menu-item icon btn-mg">
            <a href="" class="icon-btn logout-btn">
                {# <i class="mdi mdi-logout"></i> #}
                <i class="mdi mdi-logout-variant"></i>
                <span class="sr-only">로그아웃</span>
            </a>
        </li>
        <li class="menu-item icon btn-mg">
            <a href="" class="icon-btn home-btn">
                <i class="mdi mdi-home-outline"></i>
                {# <i class="mdi mdi-home-variant-outline"></i> #}
                <span class="sr-only">홈으로</span>
            </a>
        </li>
        <li class="menu-item icon hello">
            <span class="in">
                Hi,
                <em>master</em>
            </span>
            <i class="mdi mdi-account-circle"></i>
        </li>
    </ul>
</div>