<nav class="admin-sidebar">
    <h1 class="sr-only">메뉴</h1>
    <h1 class="sidebar-logo">
        <a href="/" class="logo-cover">
            <img src="/images/icon/cona.png" alt="코나코인" class="logo-img">
            <span>Admin</span>
        </a>
    </h1>
    {% if isLogin %}
        {{ req_user.username }}
    {% endif %}

    <ul class="sidebar-menu cf">
        <li class="menu-item active">
            <a href="">
                <i class="mdi mdi-comment-text-multiple-outline"></i>
                <span>실시간 문의</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="">
                <i class="mdi mdi-newspaper-variant-multiple-outline"></i>
                <span>뉴스 업로드</span>
            </a>
        </li>
    </ul>
    <div class="cs-wrapper">
        <p class="title">고객지원</p>
        <p class="text">
            WEB PRODUCER
            <span class="number">+82) 010-5691-2604</span>
            {# 사이트 이상 증상이나<br>
            접속장애 및 유지보수 문의 #}
        </p>
    </div>
</nav>