// mobile & tablet xs & sm
@media (max-width: 991px) {
    $title-color: #252525;

    .sec.comm-pd[class*='main-'] {
        padding: 35px 0;
    }

    .sec[class*='main-'] .comm-title {
        text-align: center;
        margin-bottom: 30px;

        .title {
            font-size: 18px;
            text-transform: uppercase;
            line-height: 1.2;
        }

        .st {
            margin-top: 5px;
            font-size: 11px;
            line-height: 1.4;
        }
    }

    .sec[class*='main-'] .comm-text {
        padding-top: 20px;

        .text {
            margin-top: 15px;
            font-size: 13px;
            line-height: 1.9;
            font-weight: 300;
            word-break: keep-all;
            word-wrap: break-word;
        }
    }

    // visual 영역
    .main-visual-sec {
        position: relative;
        // @include size(100%, 600px);
        // width: 100%;

        .visual-wrapper {
            .visual-content {

                // 슬라이드 예정
                .banner-list-wrapper {
                    .banner-arrow {
                        display: none;
                    }

                    .banner-list {
                        .banner-item {
                            height: 300px;
                            background: url('/images/main/visual_bg.jpg') no-repeat 55% center / cover;
                        }
                    }
                }

                .banner-title {
                    position: relative;
                    padding-top: $hd-ht-m;

                    .title-wrapper {
                        position: relative;
                        line-height: 1.3;
                        text-align: center;
                        // text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
                        color: #fff;

                        .logo {
                            @include center-block;
                        }

                        .title {
                            margin-top: 45px;
                            font-size: 25px;
                            text-transform: uppercase;
                            font-weight: 100;
                            letter-spacing: 3px;
                        }

                        .st {
                            margin-top: 15px;
                            display: block;
                            font-size: 11px;
                            font-weight: 300;
                            // line-height: 1.5;

                            >span {
                                display: block;
                            }

                            .big {
                                font-size: 16px;
                            }

                            .small {
                                margin-top: 5px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }

                .banner-actions {
                    margin-top: 30px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    line-height: 1.5;
                    font-size: 0;

                    .inquiry-btn {
                        position: relative;
                        // width: 350px;
                        @include center-block(135px);
                        height: 36px;
                        @include btn-size(8px 0, 13px);
                        font-weight: 500;
                        color: #fff;
                        border-radius: 35px;
                        background-color: rgba(255, 255, 255, 0.2);
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }

    // newsbar 영역
    .main-newsbar-sec {
        .newsbar-wrapper {
            height: 40px;
            box-sizing: border-box;
            border-bottom: 1px solid $bor-gray;

            .newsbar-content {
                @include va-bef(40px);

                .newsbar-title {
                    width: 20%;
                    @include ft(14px, $primary-color, 700);
                    text-indent: 5px;
                }

                .news-list-wrapper {
                    width: 80%;

                    .news-list {
                        .news-item {
                            font-size: 12px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            .date {
                                margin-left: 5px;
                                color: $font-gray;
                            }
                        }
                    }
                }
            }
        }
    }

    // guide 영역
    .main-guide-sec {
        .guide-wrapper {
            .guide-content {
                .guide-card {
                    @include center(265px);

                    .card-list {
                        &.slick-dotted.slick-slider {
                            margin-bottom: 40px;
                        }

                        .slick-dots {
                            bottom: -35px;
                        }

                        .slick-dots li {
                            width: 10px;
                            height: 10px;
                            margin: 0 3px;
                        }

                        .card-item {
                            text-align: center;

                            figure {
                                img {
                                    border: 1px solid $bor-gray-2;
                                    box-sizing: border-box;
                                }

                                figcaption {
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // cona 영역
    .main-cona-sec {
        .cona-wrapper {
            margin-top: 0px;
            padding: 40px 0 70px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                @include size(100%, 100%);
                background-color: #f0f4f8;
                transform: skewY(5deg);
            }

            .cona-content {
                .cona-card {
                    .card-list {

                        .card-item {
                            position: relative;
                            margin: 0 10px;
                            height: 180px;
                            box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .15);

                            &:not(:first-child) {
                                margin-top: 10px;
                            }

                            .card-title {
                                @include va-bef(40px);
                                // height: 60px;
                                padding-left: 15px;
                                padding-right: 20px;
                                box-sizing: border-box;
                                background-color: #141414;
                                color: #fff;
                                text-align: right;

                                .ic-cona {
                                    float: left;
                                    top: 10px;
                                    width: 22px;
                                }

                                .title {
                                    display: inline-block;
                                    @include ft-w(12px, 700);
                                }
                            }

                            .card-text {
                                padding: 20px 20px 20px 15px;

                                .title {
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid $bor-gray;
                                    @include ft-w(14px, 700);
                                }

                                .text {
                                    padding-top: 10px;
                                    font-size: 13px;
                                    line-height: 1.423;
                                }

                                .ic-alternative {
                                    display: inline-block;
                                    position: absolute;
                                    bottom: 20px;
                                    right: 20px;
                                    @include size(50px, 35px);
                                    background-size: 50px;

                                    @for $i from 1 through 4 {
                                        &.ic-alternative-#{$i} {
                                            background-image: url(/images/main/icon_alternative_#{$i}.png);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // roadmap 영역
    .main-roadmap-sec {
        padding-top: 50px;
        padding-bottom: 50px;

        .roadmap-wrapper {
            .roadmap-content {
                .roadmap-bar {
                    position: relative;
                    $ht: 240px;
                    height: 240px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -0.5px;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: $primary-color;
                    }

                    .roadmap-list-wrapper {
                        @include center(90%);
                    }

                    .roadmap-list {
                        .roadmap-item {
                            position: relative;
                            float: left;
                            width: calc(100% / 8);
                            height: $ht;
                            text-align: center;

                            &:before {
                                content: '';
                                display: block;
                                // @include sizes(22px);
                                @include centerMiddle(22px);
                                border: 3px solid $primary-color;
                                box-sizing: border-box;
                                border-radius: 50%;
                                background-color: #fff;
                            }

                            &.reverse {
                                .info {
                                    background-color: #fff;
                                    color: $primary-color;

                                    &:nth-child(odd) {
                                        &:after {
                                            border-top-color: #fff;
                                        }
                                    }

                                    &:nth-child(even) {
                                        &:after {
                                            border-bottom-color: #fff;
                                        }
                                    }
                                }
                            }

                            .info {
                                @include va-bef(90px, 14px);
                                width: 100%;
                                position: absolute;
                                padding: 0px 15px;
                                box-sizing: border-box;
                                background-color: $primary-color;
                                border-radius: 120px;
                                color: #fff;
                                font-weight: 300;
                                line-height: 1.3;

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    left: 50%;
                                    margin-left: -10px;
                                    width: 1px;
                                    border: 10px solid transparent;
                                }
                            }

                            .date {
                                @include middle-ab(0px);
                                color: $font-gray-2;
                                width: 100%;
                                height: auto;
                            }

                            &:nth-child(odd) {
                                .info {
                                    top: 0;

                                    &:after {
                                        bottom: -20px;
                                        border-top-color: $primary-color;
                                    }
                                }

                                .date {
                                    margin-top: 20px;
                                }
                            }

                            &:nth-child(even) {
                                .info {
                                    top: auto;
                                    bottom: 0;

                                    &:after {
                                        top: -20px;
                                        border-bottom-color: $primary-color;
                                    }
                                }

                                .date {
                                    top: auto;
                                    margin-top: 0;
                                    bottom: 50%;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // meet 영역
    .main-meet-sec {
        background-color: $primary-color;

        .meet-wrapper {
            .meet-content {
                .meet-title {
                    color: #fff;
                    text-align: center;

                    .title {
                        font-size: 18px;

                        em {
                            font-weight: 500 !important;
                        }
                    }

                    .st {
                        margin-top: 10px;
                        font-size: 12px;
                    }
                }

                .meet-actions {
                    margin-top: 25px;
                    text-align: center;

                    button {
                        @include btn-base;
                        border-radius: 0;
                        @include btn-size(12px 0px, 13px);
                        border-width: 2px;
                        font-weight: 700;
                        max-width: 240px;

                        &:first-child {
                            margin-right: 15px;
                        }

                        &.counsel-btn {
                            width: 46%;
                            @include btn-transparent(#fff);
                        }

                        &.kakao-btn {
                            width: 46%;
                            background-color: #ffdb4b;
                        }

                    }
                }
            }
        }
    }

    // news 영역
    .main-news-sec {
        .news-wrapper {
            .news-content {
                .news-card {
                    margin: 0 10px;

                    .card-list {
                        .card-item {
                            border: 1px solid $bor-gray;
                            box-sizing: border-box;
                            background-color: #fff;

                            &:not(:first-child) {
                                margin-top: 15px;
                            }

                            .card-title {
                                z-index: 1;
                                @include va-bef(50px, 14px);
                                font-weight: 500;
                                padding-left: 10px;
                                padding-right: 30px;
                                border-bottom: 1px solid $bor-gray;
                                margin-bottom: -1px;

                                .plus {
                                    position: absolute;
                                    display: inline-block;
                                    $wd: 12px;
                                    width: $wd;
                                    height: $wd;
                                    top: 50%;
                                    margin-top: - $wd/2;
                                    right: 10px;
                                    // border: 1px solid #ddd;

                                    &:before,
                                    &:after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        width: 100%;
                                        height: 3px;
                                        top: 50%;
                                        margin-top: -2px;
                                        background-color: #141414;
                                    }

                                    &:before {
                                        transform: rotate(-90deg);
                                    }
                                }
                            }

                            .card-text {
                                .list-wrapper {}

                                .list {
                                    .list-item {
                                        @include va-bef(45px);
                                        border-top: 1px solid $bor-gray;
                                        box-sizing: border-box;
                                        font-size: 0;

                                        >div {
                                            box-sizing: border-box;
                                            font-size: 12px;
                                            overflow: hidden;

                                            &.title {
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                        }

                                        &:nth-child(odd) {
                                            background-color: #f3f3f3;
                                        }
                                    }
                                }
                            }

                            &.counsel-item {

                                .state {
                                    text-align: center;
                                }

                                .name {
                                    width: 18%;
                                    padding-left: 10px;
                                    padding-right: 5px;
                                }

                                .title {
                                    width: 64%;
                                }

                                .state {
                                    width: 18%;
                                    font-size: 11px;
                                    font-weight: 700;
                                    color: $font-gray-2;

                                    &.active {
                                        color: $primary-color;
                                    }
                                }
                            }

                            &.news-item {
                                .title {
                                    width: 75%;
                                    padding-left: 10px;
                                }

                                .date {
                                    width: 25%;
                                    font-size: 11px;
                                    text-align: center;
                                    color: $font-gray-2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// // mobile
// @media (max-width: 768px) {}

// // tablet
// @media (min-width: 768px) and (max-width: 991px) {}

// @media (min-width: 992px) {}

// // pc md & lg
@media (min-width: 992px) {
    $title-color: #252525;

    .sec.comm-pd[class*='main-'] {
        padding: 60px 0;
    }

    .sec[class*='main-'] .comm-title {
        text-align: center;
        margin-bottom: 50px;

        .title {
            font-size: 30px;
            text-transform: uppercase;
            line-height: 1.2;
        }

        .st {
            margin-top: 10px;
            font-size: 14px;
            line-height: 1.4;
        }
    }

    .sec[class*='main-'] .comm-text {
        padding-top: 20px;

        .text {
            margin-top: 30px;
            line-height: 1.9;
            font-weight: 300;
            word-break: keep-all;
            word-wrap: break-word;
        }
    }

    // visual 영역
    .main-visual-sec {
        position: relative;
        // @include size(100%, 600px);

        .visual-wrapper {
            .visual-content {

                // 슬라이드 예정
                .banner-list-wrapper {
                    .banner-arrow {
                        z-index: 1;
                        position: absolute;
                        top: 50%;
                        margin-top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .slick-prev,
                    .slick-next {
                        @include size(22px, 70px);
                        margin-top: 23px;
                    }

                    .slick-prev {
                        left: 0;
                    }

                    .slick-next {
                        right: 0;
                    }

                    .banner-list {

                        .banner-item {
                            height: 600px;
                            background: url('/images/main/visual_bg.jpg') no-repeat center / cover;
                        }
                    }
                }

                .banner-title {
                    position: relative;
                    padding-top: $hd-ht-pc;

                    .title-wrapper {
                        position: relative;
                        line-height: 1.3;
                        text-align: center;
                        // text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
                        color: #fff;

                        .logo {
                            @include center-block;
                        }

                        .title {
                            margin-top: 105px;
                            font-size: 50px;
                            text-transform: uppercase;
                            font-weight: 100;
                            letter-spacing: 4.5px;
                        }

                        .st {
                            margin-top: 30px;
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 1.5;

                            >span {
                                display: block;
                            }

                            .big {
                                font-size: 30px;
                            }

                            .small {
                                margin-top: 5px;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }

                .banner-actions {
                    margin-top: 60px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    line-height: 1.5;
                    font-size: 0;

                    .inquiry-btn {
                        position: relative;
                        // width: 350px;
                        @include center-block(250px);
                        height: 60px;
                        @include btn-size(16px 0, 18px);
                        font-weight: 500;
                        color: #fff;
                        border-radius: 35px;
                        background-color: rgba(255, 255, 255, 0.2);
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }

    // newsbar 영역
    .main-newsbar-sec {
        .newsbar-wrapper {
            height: 60px;
            box-sizing: border-box;
            border-bottom: 1px solid $bor-gray;

            .newsbar-content {
                @include va-bef(60px);

                $wd: 11%;

                .newsbar-title {
                    width: $wd;
                    @include ft(18px, $primary-color, 700);
                    text-indent: 20px;
                }

                .news-list-wrapper {
                    width: 100% - $wd;

                    .news-list {
                        .news-item {
                            font-size: 14px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            .date {
                                margin-left: 10px;
                                color: $font-gray;
                            }
                        }
                    }
                }
            }
        }
    }

    // guide 영역
    .main-guide-sec {
        .guide-wrapper {
            .guide-content {
                .guide-card {
                    .card-list {

                        .card-item {
                            $mg: 40px;
                            float: left;
                            width: calc(25% - #{$mg} + #{$mg} / 4) !important;
                            text-align: center;

                            &:not(:first-child) {
                                margin-left: $mg;
                            }

                            figure {
                                img {
                                    border: 1px solid $bor-gray-2;
                                    box-sizing: border-box;
                                }

                                figcaption {
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // cona 영역
    .main-cona-sec {
        .cona-wrapper {
            margin-top: 60px;
            padding: 90px 0 140px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                @include size(100%, 100%);
                background-color: #f0f4f8;
                transform: skewY(5deg);
            }

            .cona-content {
                .cona-card {
                    .card-list {

                        .card-item {
                            position: relative;
                            float: left;
                            margin: 0 10px;
                            width: calc(25% - 20px);
                            height: 300px;
                            box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .15);

                            .card-title {
                                @include va-bef(60px);
                                // height: 60px;
                                padding-left: 20px;
                                padding-right: 25px;
                                box-sizing: border-box;
                                background-color: #141414;
                                color: #fff;
                                text-align: right;

                                .ic-cona {
                                    float: left;
                                    top: 16px;
                                    width: 33px;
                                }

                                .title {
                                    display: inline-block;
                                    @include ft-w(14px, 700);
                                }
                            }

                            .card-text {
                                padding: 25px 30px 30px 20px;

                                .title {
                                    padding-bottom: 7px;
                                    border-bottom: 1px solid $bor-gray;
                                    @include ft-w(18px, 700);
                                }

                                .text {
                                    padding-top: 15px;
                                    font-size: 16px;
                                    line-height: 1.423;
                                }

                                .ic-alternative {
                                    display: inline-block;
                                    position: absolute;
                                    bottom: 30px;
                                    right: 30px;
                                    @include size(80px, 60px);

                                    @for $i from 1 through 4 {
                                        &.ic-alternative-#{$i} {
                                            background-image: url(/images/main/icon_alternative_#{$i}.png);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // roadmap 영역
    .main-roadmap-sec {
        padding-top: 100px;
        padding-bottom: 100px;

        .roadmap-wrapper {
            .roadmap-content {
                .roadmap-bar {
                    position: relative;
                    $ht: 260px;
                    height: $ht;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -0.5px;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: $primary-color;
                    }

                    .roadmap-list-wrapper {
                        @include center(90%);
                    }

                    .roadmap-list {
                        .roadmap-item {
                            position: relative;
                            float: left;
                            width: calc(100% / 8);
                            height: $ht;
                            text-align: center;

                            &:before {
                                content: '';
                                display: block;
                                // @include sizes(22px);
                                @include centerMiddle(22px);
                                border: 3px solid $primary-color;
                                box-sizing: border-box;
                                border-radius: 50%;
                                background-color: #fff;
                            }

                            &.reverse {
                                .info {
                                    background-color: #fff;
                                    color: $primary-color;

                                    &:nth-child(odd) {
                                        &:after {
                                            border-top-color: #fff;
                                        }
                                    }

                                    &:nth-child(even) {
                                        &:after {
                                            border-bottom-color: #fff;
                                        }
                                    }
                                }
                            }

                            .info {
                                @include va-bef(100px, 14px);
                                width: 99.5%;
                                position: absolute;
                                padding: 0px 15px;
                                box-sizing: border-box;
                                background-color: $primary-color;
                                border-radius: 100px;
                                color: #fff;
                                font-weight: 300;
                                line-height: 1.3;

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    left: 50%;
                                    margin-left: -10px;
                                    width: 1px;
                                    border: 10px solid transparent;
                                }
                            }

                            .date {
                                @include middle-ab(0px);
                                color: $font-gray-2;
                                width: 100%;
                                height: auto;
                            }

                            &:nth-child(odd) {
                                .info {
                                    top: 0;

                                    &:after {
                                        bottom: -20px;
                                        border-top-color: $primary-color;
                                    }
                                }

                                .date {
                                    margin-top: 20px;
                                }
                            }

                            &:nth-child(even) {
                                .info {
                                    top: auto;
                                    bottom: 0;

                                    &:after {
                                        top: -20px;
                                        border-bottom-color: $primary-color;
                                    }
                                }

                                .date {
                                    top: auto;
                                    margin-top: 0;
                                    bottom: 50%;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // meet 영역
    .main-meet-sec {
        background-color: $primary-color;

        .meet-wrapper {
            .meet-content {
                .meet-title {
                    color: #fff;

                    .title {
                        font-size: 30px;
                    }

                    .st {
                        margin-top: 20px;
                        font-size: 16px;
                    }
                }

                .meet-actions {
                    position: absolute;
                    top: 50%;
                    margin-top: -28.5px;
                    right: 0;

                    button {
                        @include btn-base;
                        border-radius: 0;
                        @include btn-size(15px 45px, 18px);
                        border-width: 2px;
                        font-weight: 700;

                        &:first-child {
                            margin-right: 40px;
                        }

                        &.counsel-btn {
                            width: 200px;
                            @include btn-transparent(#fff);
                        }

                        &.kakao-btn {
                            width: 240px;
                            background-color: #ffdb4b;
                        }

                    }
                }
            }
        }
    }

    // news 영역
    .main-news-sec {
        .news-wrapper {
            .news-content {
                .news-card {
                    .card-list {
                        .card-item {
                            float: left;
                            width: calc(50% - 40px);
                            margin: 0 20px;
                            border: 1px solid $bor-gray;
                            box-sizing: border-box;
                            background-color: #fff;

                            .card-title {
                                z-index: 1;
                                @include va-bef(60px, 18px);
                                font-weight: 500;
                                padding-left: 20px;
                                padding-right: 40px;
                                border-bottom: 1px solid $bor-gray;
                                margin-bottom: -1px;

                                .plus {
                                    position: absolute;
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    top: 50%;
                                    margin-top: -9px;
                                    right: 20px;

                                    &:before,
                                    &:after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        width: 100%;
                                        height: 4px;
                                        top: 50%;
                                        margin-top: -2px;
                                        background-color: #141414;
                                    }

                                    &:before {
                                        transform: rotate(-90deg);
                                    }
                                }
                            }

                            .card-text {
                                .list-wrapper {}

                                .list {
                                    .list-item {
                                        @include va-bef(55px);
                                        border-top: 1px solid $bor-gray;
                                        box-sizing: border-box;
                                        font-size: 0;

                                        >div {
                                            display: inline-block;
                                            box-sizing: border-box;
                                            font-size: 14px;
                                            overflow: hidden;

                                            &.title {
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                        }


                                        &:nth-child(odd) {
                                            background-color: #f3f3f3;
                                        }
                                    }
                                }
                            }

                            &.counsel-item {

                                .state {
                                    text-align: center;
                                }

                                .name {
                                    width: 18%;
                                    padding-left: 20px;
                                }

                                .title {
                                    width: 64%;
                                }

                                .state {
                                    width: 18%;
                                    font-weight: 700;
                                    color: $font-gray-2;

                                    &.active {
                                        color: $primary-color;
                                    }
                                }
                            }

                            &.news-item {
                                .title {
                                    width: 78%;
                                    padding-left: 20px;
                                }

                                .date {
                                    width: 22%;
                                    text-align: center;
                                    color: $font-gray-2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}