{% set title = "Conacoin.io | 실시간 고객센터" %}
{% set pageName = "supportPage" %}
{% set titleLength = 300 %}
{% set contentLength = 3000 %}
{% extends "layout/base.html" %}

{% block content %}
{% include("layout/subvisual.html") %}

<section class="sec support-inquirys-isec comm-pd">
    <div class="inquirys-wrapper">
        <div class="inquirys-content group">
            <div class="inquirys-title comm-title">
                <h1 class="title">
                    실시간 문의하기
                </h1>
            </div>
            <div class="tbl-comm-st">※ 답변이 완료된 문의는 이메일로 답변이 전송되오니 확인 부탁드립니다.</div>
            <form action="" method="post" id="inquirys_form" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <table class="edit-tbl">
                    <tbody>
                        <tr class="name">
                            <td>
                                <p class="row">
                                    <span class="label name">이름</span><input class="form-input name label-text" name="name" type="text" required="required"></p>
                                <p class="row">
                                    <span class="label email">이메일</span><input class="form-input email label-text" name="email" type="email" required="required"></p>
                                <p class="row">
                                    <span class="label password">비밀번호</span><input class="form-input password label-text" name="password" type="password" required="required"></p>
                            </td>
                        </tr>
                        <tr class="title">
                            <td>
                                <span class="label title">제목</span><input class="form-input title label-text" name="title" type="text" maxlength="{{ titleLength }}" required="required">
                            </td>
                        </tr>
                        <tr class="content">
                            <td>
                                <span class="label content">문의내용</span>
                                <div class="texta-wrapper" data-role="texta-wrapper">
                                    <textarea class="form-textarea content" name="content" id="register_content" maxlength="{{ contentLength }}" required="required"></textarea>
                                    <span id="texta_counter" class="texta-counter"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="attach">
                            <td>
                                <span class="label">첨부파일 (최대 5개, 10MB)</span>
                                <div class="fileform-wrapper">
                                    <input type="file" class="fileform" name="file" id="file" multiple>
                                    <label for="file">파일선택</label>
                                    <span class="filename">선택된 파일 없음</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="inquirys-actions">
                    <a href="/support/inquirys/" class="comm-btn outline back-btn">목록</a>
                    <button type="submit" class="comm-btn primary complete-btn">작성완료</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.sec support-inquiry-sec -->

{% include("inc/bn_meet.html") %}

<script>
    $('#inquirys_form').submit(function () {
        var $inquirysPwInput = $('#inquirys_form [name=password]');
        if ($inquirysPwInput.val().length < 4) {
            alert('비밀번호를 네 글자 이상 입력하세요.');
            $inquirysPwInput.focus();
            return false;
        }
        return true;
    });
    $('#register_content').keydown(function () {
        var $registerContent = $('#register_content');
        var content = $registerContent.val();
        $('#texta_counter').html(content.length + '/{{ contentLength }}');
        content = content.replace(/(?:\r\n|\r|\n)/g, '<br/>');
    });
</script>
{% endblock %}