{% macro include(fileName) %}
    {% include fileName ignore missing %}
{% endmacro %}
<!DOCTYPE html>
<!--[if IE 8]><html lang="ko" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
    <!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="새로운 방식의 업무공간, 업무환경으로 멤버사의 비즈니스를 앞서나가게 합니다.">
        <meta name="keywords" content="오피스, 공유오피스, 상주, 비상주, 코워킹 스페이스">
        <meta name="author" content="BIZ BERRY INC">
        <title>{{title}}</title>

        <meta property="og:type" content="website">
        <meta property="og:title" content="비즈베리 :: 공유오피스 솔루션">
        <meta property="og:description" content="새로운 방식의 업무공간, 업무환경으로 멤버사의 비즈니스를 앞서나가게 합니다.">
        <!-- <meta property="og:url" content=""> -->
        <!-- <meta property="og:image" content=""> -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="비즈베리 :: 공유오피스 솔루션">
        <meta name="twitter:description" content="새로운 방식의 업무공간, 업무환경으로 멤버사의 비즈니스를 앞서나가게 합니다.">
        <!-- <meta name="twitter:url" content=""> -->
        <!-- <meta name="twitter:image" content=""> -->
        <link rel="canonical" href="https://bizberry.co.kr">

        <!-- favicon icon -->
        <link rel="shortcut icon" href="" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="">
        <link rel="apple-touch-icon" sizes="114x114" href="">
        <link rel="apple-touch-icon" sizes="144x144" href="">

        <!-- fonts -->
        <link rel="stylesheet" href="/static/fonts/notosanskr/notosanskr.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,600&display=swap">

        <link rel="stylesheet" href="/static/css/reset.css">
        {# <link rel="stylesheet" href="/static/css/libs/jquery-ui/jquery-ui-1.12.1.min.css">
        <link rel="stylesheet" href="/static/css/libs/slick/slick.css">
        <link rel="stylesheet" href="/static/css/libs/slick/slick-theme.css"> #}
        <link rel="stylesheet" href="/static/fonts/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/stylesheets/common.css">
        <link rel="stylesheet" href="/stylesheets/contents.css">

        <script src="/static/js/libs/jquery-1.12.1.min.js"></script>
        <script src="/static/js/libs/jquery-ui-1.12.1.min.js"></script>

    </head>

    <body id="{{ pageName }}">
        <div id="wrapper" class="wrapper">
            {% include("layout/header.html") %}

            <main id="container" class="container" role="main">
                {%- block content %}{% endblock -%}
            </main>

            {% include("layout/footer.html") %}
        </div>
        <!-- /#wrapper.wrapper -->

        {% include("layout/bottom.html") %}
    </body>

</html>