{% macro include(fileName) %}
{% include fileName ignore missing %}
{% endmacro %}
<!DOCTYPE html>
<!--[if IE 8]><html lang="ko" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="CONA - Cryptocurrency Offering New Alternative">
    <meta name="keywords" content="cona, coin">
    <meta name="author" content="CONA COIN INC">
    <title>{{title}}</title>

    <meta property="og:type" content="website">
    <meta property="og:title" content="CONA - Cryptocurrency Offering New Alternative">
    <meta property="og:description" content="CONA - Cryptocurrency Offering New Alternative">
    <meta property="og:url" content="http://conacoin.io">
    <!-- <meta property="og:image" content=""> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="CONA - Cryptocurrency Offering New Alternative">
    <meta name="twitter:description" content="CONA - Cryptocurrency Offering New Alternative">
    <meta name="twitter:url" content="http://conacoin.io">
    <!-- <meta name="twitter:image" content=""> -->
    <link rel="canonical" href="http://conacoin.io">

    <meta name="naver-site-verification" content="235d3820141322e0e3602c1f3b35a74f54d2a346" />
    <meta name="google-site-verification" content="zJSvUJop9Mp3ATm8U-TfGX5ZX7CSxauIwSx63Fo75is" />

    <!-- favicon icon -->
    <link rel="shortcut icon" href="/images/common/favicon.ico" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" sizes="57x57" href=""> <link rel="apple-touch-icon" sizes="114x114" href=""> <link rel="apple-touch-icon" sizes="144x144" href=""> -->

    <!-- fonts -->
    <link rel="stylesheet" href="/static/fonts/notosanskr/notosanskr.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,600&display=swap">

    <link rel="stylesheet" href="/static/css/reset.css">
    <!-- <link rel="stylesheet" href="/static/css/libs/jquery-ui/jquery-ui-1.12.1.min.css"> -->
    <link rel="stylesheet" href="/static/css/libs/slick/slick.css">
    <link rel="stylesheet" href="/static/css/libs/slick/slick-theme.css">
    <link rel="stylesheet" href="/static/fonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/stylesheets/common.min.css">
    <link rel="stylesheet" href="/stylesheets/contents.min.css">

    <script src="/static/js/libs/jquery-1.12.1.min.js"></script>
    <!-- <script src="/static/js/libs/jquery-ui-1.12.1.min.js"></script> -->

    <script>
        var $loading = $('#ldsMask');
    </script>
</head>

<body id="{{ pageName }}">
    <div id="wrapper" class="wrapper">
        {% include("layout/header.html") %}

        <main id="container" class="container" role="main">
            {%- block content %}{% endblock -%}
        </main>

        {% include("layout/footer.html") %}
    </div>
    <!-- /#wrapper.wrapper -->

    {% include("layout/bottom.html") %}
</body>

</html>