<footer id="footer" class="footer">
    <div class="group-f footer-area">
        <div class="logo-cover">
            <a href="/" class="logo"><img src="/images/common/logo_2.png" alt="코나코인"></a>
        </div>
        <address class="address">
            <p class="copyright">
                <small>Copyright © 2019 CONA COIN. All rights reserved.</small>
            </p>
        </address>
        <div class="sns-list">
            <a href=""><img src="/images/sns/medium.png" alt="미디움"></a>
            <a href=""><img src="/images/sns/kakao.png" alt="카카오톡"></a>
            <a href=""><img src="/images/sns/twitter.png" alt="트위터"></a>
            <a href=""><img src="/images/sns/insta.png" alt="인스타그램"></a>
            <a href=""><img src="/images/sns/tmp.png" alt="tmp"></a>
        </div>
    </div>
</footer>
<!-- /.footer -->

<div class="affix shortcut-container">
    <button href="#none" id="goTop" class="go-top" role="button" onclick="$( 'html, body' ).animate( { scrollTop : 0 }, 400 )">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>
<!-- /.shortcut-container -->