<header id="header" class="header">
    <div id="gnb" class="gnb">
        <div class="gnb-area">
            <h1 id="logo-cover" class="logo-cover">
                <a href="/" class="logo">
                    <img src="/assets/img/common/logo_img.png" alt="랜비즈오피스" class="logo-img hidden-sm-and-down">
                    <img src="/assets/img/common/logo_text.png" alt="랜비즈오피스" class="logo-text">
                </a>
            </h1>

            <button type="button" id="navTab" class="nav-tab hidden-md-and-up" aria-label="모바일 메뉴 토글버튼" title="모바일 메뉴 토글버튼">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <div class="group-f">
                {# nav #}
            </div>
        </div>
        <div class="counsel-wrapper hidden-md-and-up">
            <button type="button" class="ap-reset counsel-btn" onclick="$('#counselFormMask').toggleClass('on')"><img src="/assets/img/common/picto/counselor.png" alt="상담하기"></button>
        </div>
    </div>
</header>
<!-- /.header -->