<header id="header" class="header">
    <div id="gnb" class="gnb">
        <div class="group-f gnb-area">
            <h1 id="logo-cover" class="logo-cover hidden-sm-and-down">
                <a href="/" class="logo">
                    <img src="/images/common/logo.png" alt="선블럭터미널" class="logo-img">
                </a>
            </h1>

            <button type="button" id="navTab" class="nav-tab hidden-md-and-up" aria-label="모바일 메뉴 토글버튼" title="모바일 메뉴 토글버튼">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>

            {{ include("layout/nav.html") }}
        </div>
    </div>
</header>
<!-- /.header -->

{{- include("inc/sign.html") -}}