<header id="header" class="header">
    <div id="gnb" class="gnb">
        <div class="group-f gnb-area">
            <h1 id="logo-cover" class="logo-cover">
                <a href="/" class="logo">
                    <img src="/images/common/logo.png" alt="코나코인" class="logo-img logo-img-1">
                    <img src="/images/common/logo_2.png" alt="코나코인" class="logo-img logo-img-2 hide">
                </a>
            </h1>

            <a class="tel-cover hidden-md-and-up" href="tel:+">
                <img src="/images/icon/call_ringing.png" alt="전화걸기" class="tel-img tel-img-white">
                <img src="/images/icon/call_ringing_black.png" alt="전화걸기" class="tel-img tel-img-black hide">
            </a>

            <button type="button" id="navTab" class="nav-tab hidden-md-and-up" aria-label="모바일 메뉴 토글버튼" title="모바일 메뉴 토글버튼">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>

            {{ include("layout/nav.html") }}
        </div>
    </div>
</header>
<!-- /.header -->

{{- include("inc/sign.html") -}}