<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- 오른쪽 메뉴바 -->
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Nodejs</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                {% from "macro/link.html" import link %}
                {{ link( '/' , "Home" , req_path ) }}
                {% if req_user.username == 'toxnsldxn@gmail.com' %}
                    {{ link( '/admin/products' , "ADMIN" , req_path ) }}
                {% endif %}
                {{ link( '/chat' , "CHAT" , req_path ) }}
                {{ link( '/products/2' , "PRODUCTS" , req_path ) }}
                {{ link( '/cart' , "CART" , req_path ) }}
                {% if isLogin %}
                    <li>
                        <a href="/accounts/logout" onclick="return confirm('로그아웃 하시겠습니까?')">LOGOUT</a>
                    </li>
                {% else %}
                    {{ link( '/accounts/join' , "JOIN" , req_path ) }}
                    {{ link( '/accounts/login' , "LOGIN" , req_path ) }}
                {% endif %}
            </ul>
            <form class="navbar-form navbar-left" method="get" action="/">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" required="required" value="{{ req_query.name }}" placeholder="태그 또는 제품명 검색">
                </div>
                <button type="submit" class="btn btn-default">검색</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/checkout/nomember">구매조회</a>
                </li>
            </ul>
        </div>
    </div>
</nav>