<div id="navBar" class="nav-bar">
    <nav id="mainNav" class="main-nav">
        <h1 class="nav-logo hidden-md-and-up">
            <a href="/" class="logo">
                <img src="/images/common/logo_2.png" alt="코나코인" class="logo-img">
            </a>
        </h1>
        <button type="button" class="ap-reset close-btn hidden-md-and-up" aria-label="메뉴 닫기 버튼" onclick="$(this).closest('#navBar').removeClass('active')">
            &times;
        </button>

        <ul class="menu cf">
            <li class="in-link">
                <a href="/#guide">투자가이드</a>
            </li>
            <li class="in-link">
                <a href="/#cona">코나장점</a>
            </li>
            <li class="in-link hidden-sm-and-down">
                <a href="/#roadmap">로드맵</a>
            </li>
            <li>
                <a href="/support/inquirys">고객센터</a>
            </li>
            <li class="in-link">
                <a href="/#news">공지사항</a>
            </li>
        </ul>
    </nav>
</div>