<div id="navBar" class="nav-bar">
    <nav id="mainNav" class="main-nav">
        <h1 class="nav-logo hidden-md-and-up">
            <a href="/" class="logo">
                <img src="/images/common/logo_2.png" alt="코나코인" class="logo-img">
                <span class="sr-only">메인 메뉴</span>
            </a>
        </h1>
        <button type="button" class="ap-reset close-btn hidden-md-and-up" aria-label="메뉴 닫기 버튼" onclick="$(this).closest('#navBar').removeClass('active')">
            &times;
        </button>

        <ul class="menu cf">
            <li>
                <a href="javascript:;"><span class="in">공지사항</span></a>
                <ul class="menu2">
                    <li>
                        <a href="/notice/alerts">공지사항</a>
                    </li>
                    <li>
                        <a href="/notice/news">코나뉴스</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/about"><span class="in">회사소개</span></a>
            </li>
            <li>
                <a href="/guide"><span class="in">투자가이드</span></a>
            </li>
            <li>
                <a href="javascript:;"><span class="in">고객센터</span></a>
                <ul class="menu2">
                    <li>
                        <a href="/support/inquirys">실시간 문의</a>
                    </li>
                    <li>
                        <a href="/support/faq">자주묻는 질문</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>