{% set pageName = 'adminInquirysPage' %}
{% extends "layout/admin/base.html" %}

{% block content %}
    <section class="sec admin-userlist-sec ">
        <h1 class="comm-sec-title sec-title">실시간 문의하기</h1>
        <div class="userlist-wrapper comm-card">
            <div class="userlist-content">
                <div class="userlist-title comm-title">
                    <h2 class="title">
                        실시간 문의 리스트
                    </h2>
                </div>

                <div class="userlist-pagenation pager">
                    <ul class="pager-nav">
                        <li>
                            <a href="javascript:;" class="pager-link arrow first">&laquo;</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link arrow prev">&lsaquo;</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link">1</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link">2</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link">3</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link">4</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link">5</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link arrow next">&rsaquo;</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="pager-link arrow last">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}