{% set pageName = 'adminInquirysPage' %}
{% extends "admin/layout/base.html" %}

{% block content %}
    <section class="sec admin-inquirys-sec ">
        <h1 class="comm-sec-title sec-title">실시간 문의</h1>
        <div class="inquirys-wrapper comm-card inquirys-list">
            <div class="inquirys-content">
                <div class="inquirys-title comm-title">
                    <h2 class="title">실시간 문의 리스트</h2>
                    <div class="title-actions comm-actions-top">
                        <form action="/admin/inquirys/sort" class="sort-form comm-select" method="post">
                            <span class="label">Sort By:</span>
                            <div class="dropselect label-text">
                                <select name="sort">
                                    <option value="createdAt">날짜</option>
                                    <option value="reply_cnt">진행상황</option>
                                </select>
                                <button type="button" class="dropbtn drop-toggle" data-toggle="dropmenu">
                                    {% if sort == 'createdAt' %}
                                        <span class="in">날짜</span>
                                    {% elif sort == 'reply_cnt' %}
                                        <span class="in">진행상황</span>
                                    {% else %}
                                        <span class="in">Status</span>
                                    {% endif %}
                                </button>
                                <ul class="dropmenu">
                                    <li class="item">날짜</li>
                                    <li class="item">진행상황</li>
                                </ul>
                            </div>
                        </form>
                        {# <a href="/admin/inquirys/write/" class="comm-btn primary new-btn">새 글</a> #}
                    </div>
                </div>
                <table class="list-tbl">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>등록일</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>진행상황</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# {% for i in range(0, 10) %}
                            <tr>
                                <td class="date">2019-12-08</td>
                                <td class="name">h******</td>
                                <td class="title">
                                    <a href="/support/inquiry/detail/">가이드영상대로 진행했는데 잘 안되네요..ㅠㅠ</a>
                                </td>
                                <td>
                                    <span class="state active">답변완료</span>
                                </td>
                            </tr>
                        {% endfor %} #}
                        {% for inquiry in inquirys %}
                            <tr>
                                <td class="date">{{ inquiry.dateFormat( inquiry.createdAt )}}</td>
                                <td class="name">{{ inquiry.name }}</td>
                                <td class="title">
                                    <a href="/admin/inquirys/detail/{{ inquiry.id }}">
                                        {% if inquiry.attach_cnt %}
                                            {# <i class="mdi mdi-file-download-outline"></i> #}
                                            <i class="mdi mdi-paperclip"></i>
                                        {% endif %}
                                        {{ inquiry.title }}
                                    </a>
                                </td>
                                <td>
                                    {% if inquiry.reply_cnt %}
                                        <span class="status active">답변완료</span>
                                    {% else %}
                                        <span class="status">답변대기</span>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="inquirys-pagenation pager">
                    <ul class="pager-nav">
                        {% if paginate.hasPreviousPages %}
                            <li>
                                <a href="{{ pages[0].url }}" class="pager-link arrow first active">&laquo;</a>
                            </li>
                            <li>
                                <a href="{{ paginate.href(true) }}" class="pager-link arrow prev active">&lsaquo;</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="javascript:;" class="pager-link arrow first">&laquo;</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="pager-link arrow prev">&lsaquo;</a>
                            </li>
                        {% endif %}
                        {% for page in pages %}
                            <li class="">
                                <a href="{{ page.url }}" class="pager-link{% if paginate.page == page.number %} active {% endif %}">{{ page.number }}</a>
                            </li>
                        {% endfor %}
                        {% if paginate.hasNextPages(pageCount) %}
                            <li>
                                <a href="{{ paginate.href() }}" class="pager-link arrow next active">&rsaquo;</a>
                            </li>
                            <li>
                                <a href="/admin/inquirys/?page={{ pageCount }}&amp;limit={{ limit }}" class="pager-link arrow last active">&raquo;</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="javascript:;" class="pager-link arrow next">&rsaquo;</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="pager-link arrow last">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}