{% set pageName = 'adminInquirysPage' %}
{% extends "admin/layout/base.html" %}

{% block content %}
    <section class="sec admin-inquirys-sec ">
        <h1 class="comm-sec-title sec-title">실시간 문의</h1>
        <div class="inquirys-wrapper comm-card inquirys-list">
            <div class="inquirys-content">
                <div class="inquirys-title comm-title">
                    <h2 class="title">실시간 문의 리스트</h2>
                </div>
                <table class="list-tbl">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>등록일</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>진행상황</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# {% for i in range(0, 10) %}
                            <tr>
                                <td class="date">2019-12-08</td>
                                <td class="name">h******</td>
                                <td class="title">
                                    <a href="/support/inquiry/detail/">가이드영상대로 진행했는데 잘 안되네요..ㅠㅠ</a>
                                </td>
                                <td>
                                    <span class="state active">답변완료</span>
                                </td>
                            </tr>
                        {% endfor %} #}
                        {% for inquiry in inquirys %}
                            <tr>
                                <td class="date">{{ inquiry.dateFormat( inquiry.createdAt )}}</td>
                                <td class="name">{{ inquiry.name }}</td>
                                <td class="title">
                                    <a href="/admin/inquirys/detail/{{ inquiry.id }}">{{ inquiry.content }}</a>
                                </td>
                                <td>
                                    {% if inquiry.reply_cnt %}
                                        <span class="status active">답변완료</span>
                                    {% else %}
                                        <span class="status">답변대기</span>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="inquirys-pagenation pager">
                    <ul class="pager-nav">
                        <li>
                            <a href="{{ pages[0].url }}" class="pager-link arrow first {% if paginate.hasPreviousPages %} active {% endif %}">&laquo;</a>
                        </li>
                        <li>
                            <a href="{{ paginate.href(true) }}" class="pager-link arrow prev {% if paginate.hasPreviousPages %} active {% endif %}">&lsaquo;</a>
                        </li>
                        {% for page in pages %}
                            <li class="{% if paginate.page == page.number %} active {% endif %}">
                                <a href="{{ page.url }}" class="pager-link">{{ page.number }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{{ paginate.href() }}" class="pager-link arrow next {% if paginate.hasNextPages(pageCount) %} active {% endif %}">&rsaquo;</a>
                        </li>
                        <li>
                            <a href="/admin/inquirys/?page={{ pageCount }}&amp;limit={{ limit }}" class="pager-link arrow last {% if paginate.hasNextPages(pageCount) %} active {% endif %}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}